In [1]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [5]:
df = pd.read_csv("/Users/gordo/Desktop/FantasyPros_Fantasy_Football_Projections_RB.csv")

In [6]:
df

,Player,Team,ATT,YDS,TDS,REC,YDS.1,TDS.1,FL,FPTS
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Christian McCaffrey,CAR,297.1,"1,301.6",11.9,96.8,785.0,4.3,2.5,301.0
2,Dalvin Cook,MIN,317.5,"1,491.7",13.0,54.6,472.3,2.0,2.9,280.2
3,Derrick Henry,TEN,341.0,"1,669.9",14.2,24.1,179.8,1.1,2.7,271.3
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0
...,...,...,...,...,...,...,...,...,...,...
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.columns

Index(['Player', 'Team', 'ATT', 'YDS', 'TDS', 'REC', 'YDS.1', 'TDS.1', 'FL',
       'FPTS'],
      dtype='object')

In [8]:
df.shape

(178, 10)

In [10]:
df.sort_values('FPTS')

,Player,Team,ATT,YDS,TDS,REC,YDS.1,TDS.1,FL,FPTS
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9
162,Ryan Nall,CHI,0.9,3.9,0.0,0.9,6.3,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
2,Dalvin Cook,MIN,317.5,"1,491.7",13.0,54.6,472.3,2.0,2.9,280.2
1,Christian McCaffrey,CAR,297.1,"1,301.6",11.9,96.8,785.0,4.3,2.5,301.0
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
import numpy as np

In [76]:
RealFPTs= (
    WR['YDS']*0.1 +
    WR['TDS']*6 +
    WR['REC']*0.25   +
    WR['YDS.1']*0.1 +
    WR['TDS.1']*6 -
    WR['FL']*2 )
print(RealFPTs)

TypeError: can't multiply sequence by non-int of type 'float'

In [19]:
df.shape

(178, 10)

In [23]:
df = df.loc[df["ATT"] != 'NaN']
df.shape

(178, 10)

In [26]:
print(df)

                  Player Team    ATT      YDS   TDS   REC  YDS.1  TDS.1   FL  \
0                         NaN    NaN      NaN   NaN   NaN    NaN    NaN  NaN
1    Christian McCaffrey  CAR  297.1  1,301.6  11.9  96.8  785.0    4.3  2.5
2            Dalvin Cook  MIN  317.5  1,491.7  13.0  54.6  472.3    2.0  2.9
3          Derrick Henry  TEN  341.0  1,669.9  14.2  24.1  179.8    1.1  2.7
4           Alvin Kamara   NO  206.9    941.4   9.7  80.2  685.9    3.5  1.9
..                   ...  ...    ...      ...   ...   ...    ...    ...  ...
173       Taquan Mizzell  NYG    0.9      3.7   0.0   0.9    5.4    0.0  0.0
174     Cullen Gillaspia  NYG    0.9      3.7   0.0   0.9    5.2    0.0  0.0
175       Tony Jones Jr.   NO    0.9      0.7   0.0   0.2    0.4    0.0  0.0
176                  NaN  NaN    NaN      NaN   NaN   NaN    NaN    NaN  NaN
177                  NaN  NaN    NaN      NaN   NaN   NaN    NaN    NaN  NaN

      FPTS
0      NaN
1    301.0
2    280.2
3    271.3
4    238.0
..     ...
173    0.9
174    0.9
175    0.1
176    NaN
177    NaN

[178 rows x 10 columns]

In [34]:
df = df.drop(labels=[0,176,177], axis=0)

In [58]:
df['Calc'] =(
    df['YDS']+
    df['YDS.1'])

In [32]:
type(df['YDS'])

pandas.core.series.Series

In [37]:
df['YDS']

1      1,301.6
2      1,491.7
3      1,669.9
4        941.4
5      1,371.7
        ...
171        3.5
172        3.9
173        3.7
174        3.7
175        0.7
Name: YDS, Length: 175, dtype: object

In [57]:
df['YDS'] + df['YDS.1']

1      2086.6
2      1964.0
3      1849.7
4      1627.3
5      1596.9
        ...
171       9.6
172       9.2
173       9.1
174       8.9
175       1.1
Length: 175, dtype: float64

In [39]:
df.dtypes

Player     object
Team       object
ATT       float64
YDS        object
TDS       float64
REC       float64
YDS.1     float64
TDS.1     float64
FL        float64
FPTS      float64
dtype: object

In [42]:
y = df.YDS

In [45]:
y.to_numeric(y)

AttributeError: 'Series' object has no attribute 'to_numeric'

In [49]:
df = df.infer_objects()

In [50]:
df.dtypes

Player     object
Team       object
ATT       float64
YDS        object
TDS       float64
REC       float64
YDS.1     float64
TDS.1     float64
FL        float64
FPTS      float64
dtype: object

In [56]:
df = df.astype({"YDS": float})

In [54]:
df = df.replace(',','',regex=True)

In [60]:
df

,Player,Team,ATT,YDS,TDS,REC,YDS.1,TDS.1,FL,FPTS,Calc
1,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,2086.6
2,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,1964.0
3,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,1849.7
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,1627.3
5,Nick Chubb,CLE,273.5,1371.7,11.1,28.6,225.2,1.0,1.9,228.2,1596.9
...,...,...,...,...,...,...,...,...,...,...,...
171,Jason Cabinda,DET,0.8,3.5,0.0,1.0,6.1,0.0,0.0,1.0,9.6
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9,9.2
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9,9.1
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9,8.9
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1,1.1

In [64]:
df['TrueFPTs'] = RealFPTs

In [65]:
df

,Player,Team,ATT,YDS,TDS,REC,YDS.1,TDS.1,FL,FPTS,Calc,TrueFPTs
1,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,2086.6,325.060
2,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,1964.0,294.250
3,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,1849.7,277.395
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,1627.3,258.180
5,Nick Chubb,CLE,273.5,1371.7,11.1,28.6,225.2,1.0,1.9,228.2,1596.9,235.640
...,...,...,...,...,...,...,...,...,...,...,...,...
171,Jason Cabinda,DET,0.8,3.5,0.0,1.0,6.1,0.0,0.0,1.0,9.6,1.210
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9,9.2,1.145
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9,9.1,1.135
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9,8.9,1.115
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1,1.1,0.160

In [66]:
df['Pos'] = 'RB'

In [67]:
df

,Player,Team,ATT,YDS,TDS,REC,YDS.1,TDS.1,FL,FPTS,Calc,TrueFPTs,Pos
1,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,2086.6,325.060,RB
2,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,1964.0,294.250,RB
3,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,1849.7,277.395,RB
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,1627.3,258.180,RB
5,Nick Chubb,CLE,273.5,1371.7,11.1,28.6,225.2,1.0,1.9,228.2,1596.9,235.640,RB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Jason Cabinda,DET,0.8,3.5,0.0,1.0,6.1,0.0,0.0,1.0,9.6,1.210,RB
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9,9.2,1.145,RB
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9,9.1,1.135,RB
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9,8.9,1.115,RB
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1,1.1,0.160,RB

In [68]:
WR = pd.read_csv("/Users/gordo/Desktop/FantasyPros_Fantasy_Football_Projections_WR.csv")

In [69]:
WR

,Player,Team,REC,YDS,TDS,ATT,YDS.1,TDS.1,FL,FPTS
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tyreek Hill,KC,100.2,"1,436.1",12.3,12.9,82.4,0.8,0.7,229.2
2,Davante Adams,GB,122.5,"1,462.5",12.8,0.0,0.0,0.0,0.8,221.3
3,Stefon Diggs,BUF,113.6,"1,476.5",9.2,2.4,15.6,0.1,1.2,202.6
4,Calvin Ridley,ATL,99.8,"1,422.2",8.8,4.6,26.1,0.1,0.8,196.7
...,...,...,...,...,...,...,...,...,...,...
264,Keith Kirkwood,CAR,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8
265,Jordan Matthews,SF,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8
266,Ryan Switzer,CLE,0.8,7.1,0.0,0.0,0.0,0.0,0.0,0.7
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
d

NameError: name 'RB' is not defined

In [71]:
WR = WR.replace(',','',regex=True)

In [73]:
WR['Pos'] = 'WR'

In [74]:
WR = WR.drop(labels=[0,267,268], axis=0)

In [75]:
WR

,Player,Team,REC,YDS,TDS,ATT,YDS.1,TDS.1,FL,FPTS,Pos
1,Tyreek Hill,KC,100.2,1436.1,12.3,12.9,82.4,0.8,0.7,229.2,WR
2,Davante Adams,GB,122.5,1462.5,12.8,0.0,0.0,0.0,0.8,221.3,WR
3,Stefon Diggs,BUF,113.6,1476.5,9.2,2.4,15.6,0.1,1.2,202.6,WR
4,Calvin Ridley,ATL,99.8,1422.2,8.8,4.6,26.1,0.1,0.8,196.7,WR
5,DeAndre Hopkins,ARI,122.1,1468.3,7.7,0.9,4.4,0.0,1.5,190.3,WR
...,...,...,...,...,...,...,...,...,...,...,...
262,Cody Hollister,TEN,0.7,8.0,0.0,0.0,0.0,0.0,0.0,0.8,WR
263,C.J. Board,NYG,0.7,7.7,0.0,0.0,0.0,0.0,0.0,0.8,WR
264,Keith Kirkwood,CAR,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR
265,Jordan Matthews,SF,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR
266,Ryan Switzer,CLE,0.8,7.1,0.0,0.0,0.0,0.0,0.0,0.7,WR

In [79]:
###DOCUMENTATION

##Cleaning up the data

#Reading in the data
QB = pd.read_csv("/Users/gordo/Desktop/FantasyPros_Fantasy_Football_Projections_QB.csv")

#Cleaning up NaNs
print(df)
df = df.drop(labels=[], axis=0)

#Adding position
QB['Pos'] = 'QB'

#Cleaning out commas
QB = QB.replace(',','',regex=True)

#Checking the data types of the dataframe
QB.dtypes

#Changing all rows to float
QB = QB.astype({"YDS": float})


##Projected Points

#Calculating NFFFLLLC Projected Points (WR&RB)
RBRealFPTs= (
    RB['YDS']*0.1 +
    RB['TDS']*6 +
    RB['REC']*0.25   +
    RB['YDS.1']*0.1 +
    RB['TDS.1']*6 -
    RB['FL']*2 )
print(RBRealFPTs)

#Adding NFFFLLLC Projected Points to dataframe
WR['TrueFPTs']= WRRealFPTs

In [80]:
QB.dtypes

Player     object
Team       object
ATT       float64
CMP       float64
YDS        object
TDS       float64
INTS      float64
ATT.1     float64
YDS.1     float64
TDS.1     float64
FL        float64
FPTS      float64
Pos        object
dtype: object

In [81]:
QB = QB.astype({"YDS": float})

In [82]:
QB.dtypes

Player     object
Team       object
ATT       float64
CMP       float64
YDS       float64
TDS       float64
INTS      float64
ATT.1     float64
YDS.1     float64
TDS.1     float64
FL        float64
FPTS      float64
Pos        object
dtype: object

In [86]:
WR.dtypes

Player     object
Team       object
REC       float64
YDS       float64
TDS       float64
ATT       float64
YDS.1     float64
TDS.1     float64
FL        float64
FPTS      float64
Pos        object
dtype: object

In [85]:
WR = WR.astype({"YDS": float})

In [87]:
###Calculating NFFFLLLC Projected Points
WRRealFPTs= (
    WR['YDS']*0.1 +
    WR['TDS']*6 +
    WR['REC']*0.25   +
    WR['YDS.1']*0.1 +
    WR['TDS.1']*6 -
    WR['FL']*2 )
print(WRRealFPTs)

1      254.100
2      252.075
3      231.010
4      221.580
5      220.995
        ...
262      0.975
263      0.945
264      0.935
265      0.935
266      0.910
Length: 266, dtype: float64

In [89]:
WR

,Player,Team,REC,YDS,TDS,ATT,YDS.1,TDS.1,FL,FPTS,Pos,TrueFPTs
1,Tyreek Hill,KC,100.2,1436.1,12.3,12.9,82.4,0.8,0.7,229.2,WR,254.100
2,Davante Adams,GB,122.5,1462.5,12.8,0.0,0.0,0.0,0.8,221.3,WR,252.075
3,Stefon Diggs,BUF,113.6,1476.5,9.2,2.4,15.6,0.1,1.2,202.6,WR,231.010
4,Calvin Ridley,ATL,99.8,1422.2,8.8,4.6,26.1,0.1,0.8,196.7,WR,221.580
5,DeAndre Hopkins,ARI,122.1,1468.3,7.7,0.9,4.4,0.0,1.5,190.3,WR,220.995
...,...,...,...,...,...,...,...,...,...,...,...,...
262,Cody Hollister,TEN,0.7,8.0,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.975
263,C.J. Board,NYG,0.7,7.7,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.945
264,Keith Kirkwood,CAR,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.935
265,Jordan Matthews,SF,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.935
266,Ryan Switzer,CLE,0.8,7.1,0.0,0.0,0.0,0.0,0.0,0.7,WR,0.910

In [90]:
###Calculating NFFFLLLC Projected Points (WR&RB)
RBRealFPTs= (
    RB['YDS']*0.1 +
    RB['TDS']*6 +
    RB['REC']*0.25   +
    RB['YDS.1']*0.1 +
    RB['TDS.1']*6 -
    RB['FL']*2 )
print(RBRealFPTs)

KeyError: 'REC'

In [91]:
QB

,Player,Team,ATT,CMP,YDS,TDS,INTS,ATT.1,YDS.1,TDS.1,FL,FPTS,Pos
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,QB
1,Josh Allen,BUF,605.1,400.0,4565.6,33.7,13.3,110.9,519.7,7.6,5.1,378.5,QB
2,Patrick Mahomes II,KC,630.5,418.9,5027.8,38.5,9.1,55.3,267.2,2.9,2.5,376.4,QB
3,Kyler Murray,ARI,588.5,389.7,4198.2,26.7,12.9,125.8,698.8,7.7,3.7,357.7,QB
4,Lamar Jackson,BAL,462.1,296.3,3377.9,28.6,12.2,152.9,920.2,6.7,4.0,349.3,QB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Ryan Griffin,TB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
95,C.J. Beathard,JAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
96,Easton Stick,LAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,QB
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,QB

In [102]:
QB = QB.rename(columns={"YDS.1": "RYDS", "TDS": "PTDS", "TDS.1": "RTDS", "ATT.1":"RATT", "ATT":"PATT"})

In [94]:
QB = QB.drop(labels=[0,97,98], axis=0)

In [97]:
RB = df

,Player,Team,ATT,YDS,TDS,REC,YDS.1,TDS.1,FL,FPTS,Calc,TrueFPTs,Pos
1,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,2086.6,325.060,RB
2,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,1964.0,294.250,RB
3,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,1849.7,277.395,RB
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,1627.3,258.180,RB
5,Nick Chubb,CLE,273.5,1371.7,11.1,28.6,225.2,1.0,1.9,228.2,1596.9,235.640,RB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Jason Cabinda,DET,0.8,3.5,0.0,1.0,6.1,0.0,0.0,1.0,9.6,1.210,RB
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9,9.2,1.145,RB
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9,9.1,1.135,RB
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9,8.9,1.115,RB
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1,1.1,0.160,RB

In [99]:
WR

,Player,Team,REC,YDS,TDS,ATT,YDS.1,TDS.1,FL,FPTS,Pos,TrueFPTs
1,Tyreek Hill,KC,100.2,1436.1,12.3,12.9,82.4,0.8,0.7,229.2,WR,254.100
2,Davante Adams,GB,122.5,1462.5,12.8,0.0,0.0,0.0,0.8,221.3,WR,252.075
3,Stefon Diggs,BUF,113.6,1476.5,9.2,2.4,15.6,0.1,1.2,202.6,WR,231.010
4,Calvin Ridley,ATL,99.8,1422.2,8.8,4.6,26.1,0.1,0.8,196.7,WR,221.580
5,DeAndre Hopkins,ARI,122.1,1468.3,7.7,0.9,4.4,0.0,1.5,190.3,WR,220.995
...,...,...,...,...,...,...,...,...,...,...,...,...
262,Cody Hollister,TEN,0.7,8.0,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.975
263,C.J. Board,NYG,0.7,7.7,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.945
264,Keith Kirkwood,CAR,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.935
265,Jordan Matthews,SF,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.935
266,Ryan Switzer,CLE,0.8,7.1,0.0,0.0,0.0,0.0,0.0,0.7,WR,0.910

In [103]:
QB

,Player,Team,PATT,CMP,YDS,PTDS,INTS,RATT,RYDS,RTDS,FL,FPTS,Pos
1,Josh Allen,BUF,605.1,400.0,4565.6,33.7,13.3,110.9,519.7,7.6,5.1,378.5,QB
2,Patrick Mahomes II,KC,630.5,418.9,5027.8,38.5,9.1,55.3,267.2,2.9,2.5,376.4,QB
3,Kyler Murray,ARI,588.5,389.7,4198.2,26.7,12.9,125.8,698.8,7.7,3.7,357.7,QB
4,Lamar Jackson,BAL,462.1,296.3,3377.9,28.6,12.2,152.9,920.2,6.7,4.0,349.3,QB
5,Dak Prescott,DAL,623.3,416.4,4848.3,31.0,11.1,63.4,296.5,4.0,4.2,341.3,QB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Joshua Dobbs,PIT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
93,Brett Rypien,DEN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
94,Ryan Griffin,TB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
95,C.J. Beathard,JAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
96,Easton Stick,LAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB

In [101]:
RB

,Player,Team,ATT,YDS,TDS,REC,YDS.1,TDS.1,FL,FPTS,Calc,TrueFPTs,Pos
1,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,2086.6,325.060,RB
2,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,1964.0,294.250,RB
3,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,1849.7,277.395,RB
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,1627.3,258.180,RB
5,Nick Chubb,CLE,273.5,1371.7,11.1,28.6,225.2,1.0,1.9,228.2,1596.9,235.640,RB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Jason Cabinda,DET,0.8,3.5,0.0,1.0,6.1,0.0,0.0,1.0,9.6,1.210,RB
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9,9.2,1.145,RB
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9,9.1,1.135,RB
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9,8.9,1.115,RB
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1,1.1,0.160,RB

In [ ]:
##TO DO
# Add True FPTs to QB using calculations from this year's rules
# Upload & Clean TE data
# Come up with consistent column names (started with QBs already) & add to all dataframes
# Find RP based on numbers from Word Doc 
# Add RP value to all of same position & calculate VORP for all dataframes (TrueFPTs - RPPosProj)
# Concatenate dataframes
# Sort all players in dataframe by VORP & apply ranking column
# Export dataframe