In [4]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [5]:
df = pd.read_csv("/Users/gordo/Desktop/FantasyPros_Fantasy_Football_Projections_RB.csv")

In [6]:
df

,Player,Team,ATT,YDS,TDS,REC,YDS.1,TDS.1,FL,FPTS
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Christian McCaffrey,CAR,297.1,"1,301.6",11.9,96.8,785.0,4.3,2.5,301.0
2,Dalvin Cook,MIN,317.5,"1,491.7",13.0,54.6,472.3,2.0,2.9,280.2
3,Derrick Henry,TEN,341.0,"1,669.9",14.2,24.1,179.8,1.1,2.7,271.3
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0
...,...,...,...,...,...,...,...,...,...,...
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.columns

Index(['Player', 'Team', 'ATT', 'YDS', 'TDS', 'REC', 'YDS.1', 'TDS.1', 'FL',
       'FPTS'],
      dtype='object')

In [8]:
df.shape

(178, 10)

In [10]:
df.sort_values('FPTS')

,Player,Team,ATT,YDS,TDS,REC,YDS.1,TDS.1,FL,FPTS
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9
162,Ryan Nall,CHI,0.9,3.9,0.0,0.9,6.3,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
2,Dalvin Cook,MIN,317.5,"1,491.7",13.0,54.6,472.3,2.0,2.9,280.2
1,Christian McCaffrey,CAR,297.1,"1,301.6",11.9,96.8,785.0,4.3,2.5,301.0
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
import numpy as np

In [76]:
RealFPTs= (
    WR['YDS']*0.1 +
    WR['TDS']*6 +
    WR['REC']*0.25   +
    WR['YDS.1']*0.1 +
    WR['TDS.1']*6 -
    WR['FL']*2 )
print(RealFPTs)

TypeError: can't multiply sequence by non-int of type 'float'

In [19]:
df.shape

(178, 10)

In [23]:
df = df.loc[df["ATT"] != 'NaN']
df.shape

(178, 10)

In [26]:
print(df)

                  Player Team    ATT      YDS   TDS   REC  YDS.1  TDS.1   FL  \
0                         NaN    NaN      NaN   NaN   NaN    NaN    NaN  NaN
1    Christian McCaffrey  CAR  297.1  1,301.6  11.9  96.8  785.0    4.3  2.5
2            Dalvin Cook  MIN  317.5  1,491.7  13.0  54.6  472.3    2.0  2.9
3          Derrick Henry  TEN  341.0  1,669.9  14.2  24.1  179.8    1.1  2.7
4           Alvin Kamara   NO  206.9    941.4   9.7  80.2  685.9    3.5  1.9
..                   ...  ...    ...      ...   ...   ...    ...    ...  ...
173       Taquan Mizzell  NYG    0.9      3.7   0.0   0.9    5.4    0.0  0.0
174     Cullen Gillaspia  NYG    0.9      3.7   0.0   0.9    5.2    0.0  0.0
175       Tony Jones Jr.   NO    0.9      0.7   0.0   0.2    0.4    0.0  0.0
176                  NaN  NaN    NaN      NaN   NaN   NaN    NaN    NaN  NaN
177                  NaN  NaN    NaN      NaN   NaN   NaN    NaN    NaN  NaN

      FPTS
0      NaN
1    301.0
2    280.2
3    271.3
4    238.0
..     ...
173    0.9
174    0.9
175    0.1
176    NaN
177    NaN

[178 rows x 10 columns]

In [34]:
df = df.drop(labels=[0,176,177], axis=0)

In [58]:
df['Calc'] =(
    df['YDS']+
    df['YDS.1'])

In [32]:
type(df['YDS'])

pandas.core.series.Series

In [37]:
df['YDS']

1      1,301.6
2      1,491.7
3      1,669.9
4        941.4
5      1,371.7
        ...
171        3.5
172        3.9
173        3.7
174        3.7
175        0.7
Name: YDS, Length: 175, dtype: object

In [57]:
df['YDS'] + df['YDS.1']

1      2086.6
2      1964.0
3      1849.7
4      1627.3
5      1596.9
        ...
171       9.6
172       9.2
173       9.1
174       8.9
175       1.1
Length: 175, dtype: float64

In [39]:
df.dtypes

Player     object
Team       object
ATT       float64
YDS        object
TDS       float64
REC       float64
YDS.1     float64
TDS.1     float64
FL        float64
FPTS      float64
dtype: object

In [42]:
y = df.YDS

In [45]:
y.to_numeric(y)

AttributeError: 'Series' object has no attribute 'to_numeric'

In [49]:
df = df.infer_objects()

In [50]:
df.dtypes

Player     object
Team       object
ATT       float64
YDS        object
TDS       float64
REC       float64
YDS.1     float64
TDS.1     float64
FL        float64
FPTS      float64
dtype: object

In [56]:
df = df.astype({"YDS": float})

In [54]:
df = df.replace(',','',regex=True)

In [60]:
df

,Player,Team,ATT,YDS,TDS,REC,YDS.1,TDS.1,FL,FPTS,Calc
1,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,2086.6
2,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,1964.0
3,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,1849.7
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,1627.3
5,Nick Chubb,CLE,273.5,1371.7,11.1,28.6,225.2,1.0,1.9,228.2,1596.9
...,...,...,...,...,...,...,...,...,...,...,...
171,Jason Cabinda,DET,0.8,3.5,0.0,1.0,6.1,0.0,0.0,1.0,9.6
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9,9.2
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9,9.1
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9,8.9
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1,1.1

In [64]:
df['TrueFPTs'] = RealFPTs

In [65]:
df

,Player,Team,ATT,YDS,TDS,REC,YDS.1,TDS.1,FL,FPTS,Calc,TrueFPTs
1,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,2086.6,325.060
2,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,1964.0,294.250
3,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,1849.7,277.395
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,1627.3,258.180
5,Nick Chubb,CLE,273.5,1371.7,11.1,28.6,225.2,1.0,1.9,228.2,1596.9,235.640
...,...,...,...,...,...,...,...,...,...,...,...,...
171,Jason Cabinda,DET,0.8,3.5,0.0,1.0,6.1,0.0,0.0,1.0,9.6,1.210
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9,9.2,1.145
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9,9.1,1.135
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9,8.9,1.115
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1,1.1,0.160

In [66]:
df['Pos'] = 'RB'

In [67]:
df

,Player,Team,ATT,YDS,TDS,REC,YDS.1,TDS.1,FL,FPTS,Calc,TrueFPTs,Pos
1,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,2086.6,325.060,RB
2,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,1964.0,294.250,RB
3,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,1849.7,277.395,RB
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,1627.3,258.180,RB
5,Nick Chubb,CLE,273.5,1371.7,11.1,28.6,225.2,1.0,1.9,228.2,1596.9,235.640,RB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Jason Cabinda,DET,0.8,3.5,0.0,1.0,6.1,0.0,0.0,1.0,9.6,1.210,RB
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9,9.2,1.145,RB
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9,9.1,1.135,RB
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9,8.9,1.115,RB
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1,1.1,0.160,RB

In [68]:
WR = pd.read_csv("/Users/gordo/Desktop/FantasyPros_Fantasy_Football_Projections_WR.csv")

In [69]:
WR

,Player,Team,REC,YDS,TDS,ATT,YDS.1,TDS.1,FL,FPTS
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tyreek Hill,KC,100.2,"1,436.1",12.3,12.9,82.4,0.8,0.7,229.2
2,Davante Adams,GB,122.5,"1,462.5",12.8,0.0,0.0,0.0,0.8,221.3
3,Stefon Diggs,BUF,113.6,"1,476.5",9.2,2.4,15.6,0.1,1.2,202.6
4,Calvin Ridley,ATL,99.8,"1,422.2",8.8,4.6,26.1,0.1,0.8,196.7
...,...,...,...,...,...,...,...,...,...,...
264,Keith Kirkwood,CAR,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8
265,Jordan Matthews,SF,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8
266,Ryan Switzer,CLE,0.8,7.1,0.0,0.0,0.0,0.0,0.0,0.7
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
d

NameError: name 'RB' is not defined

In [71]:
WR = WR.replace(',','',regex=True)

In [73]:
WR['Pos'] = 'WR'

In [74]:
WR = WR.drop(labels=[0,267,268], axis=0)

In [75]:
WR

,Player,Team,REC,YDS,TDS,ATT,YDS.1,TDS.1,FL,FPTS,Pos
1,Tyreek Hill,KC,100.2,1436.1,12.3,12.9,82.4,0.8,0.7,229.2,WR
2,Davante Adams,GB,122.5,1462.5,12.8,0.0,0.0,0.0,0.8,221.3,WR
3,Stefon Diggs,BUF,113.6,1476.5,9.2,2.4,15.6,0.1,1.2,202.6,WR
4,Calvin Ridley,ATL,99.8,1422.2,8.8,4.6,26.1,0.1,0.8,196.7,WR
5,DeAndre Hopkins,ARI,122.1,1468.3,7.7,0.9,4.4,0.0,1.5,190.3,WR
...,...,...,...,...,...,...,...,...,...,...,...
262,Cody Hollister,TEN,0.7,8.0,0.0,0.0,0.0,0.0,0.0,0.8,WR
263,C.J. Board,NYG,0.7,7.7,0.0,0.0,0.0,0.0,0.0,0.8,WR
264,Keith Kirkwood,CAR,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR
265,Jordan Matthews,SF,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR
266,Ryan Switzer,CLE,0.8,7.1,0.0,0.0,0.0,0.0,0.0,0.7,WR

In [79]:
###DOCUMENTATION

##Cleaning up the data

#Reading in the data
QB = pd.read_csv("/Users/gordo/Desktop/FantasyPros_Fantasy_Football_Projections_QB.csv")

#Cleaning up NaNs
print(df)
df = df.drop(labels=[], axis=0)

#Adding position
QB['Pos'] = 'QB'

#Cleaning out commas
QB = QB.replace(',','',regex=True)

#Checking the data types of the dataframe
QB.dtypes

#Changing all rows to float
QB = QB.astype({"YDS": float})


##Projected Points

#Calculating NFFFLLLC Projected Points (WR&RB)
RBRealFPTs= (
    RB['YDS']*0.1 +
    RB['TDS']*6 +
    RB['REC']*0.25   +
    RB['YDS.1']*0.1 +
    RB['TDS.1']*6 -
    RB['FL']*2 )
print(RBRealFPTs)

#Adding NFFFLLLC Projected Points to dataframe
WR['TrueFPTs']= WRRealFPTs

In [80]:
QB.dtypes

Player     object
Team       object
ATT       float64
CMP       float64
YDS        object
TDS       float64
INTS      float64
ATT.1     float64
YDS.1     float64
TDS.1     float64
FL        float64
FPTS      float64
Pos        object
dtype: object

In [81]:
QB = QB.astype({"YDS": float})

In [82]:
QB.dtypes

Player     object
Team       object
ATT       float64
CMP       float64
YDS       float64
TDS       float64
INTS      float64
ATT.1     float64
YDS.1     float64
TDS.1     float64
FL        float64
FPTS      float64
Pos        object
dtype: object

In [86]:
WR.dtypes

Player     object
Team       object
REC       float64
YDS       float64
TDS       float64
ATT       float64
YDS.1     float64
TDS.1     float64
FL        float64
FPTS      float64
Pos        object
dtype: object

In [85]:
WR = WR.astype({"YDS": float})

In [87]:
###Calculating NFFFLLLC Projected Points
WRRealFPTs= (
    WR['YDS']*0.1 +
    WR['TDS']*6 +
    WR['REC']*0.25   +
    WR['YDS.1']*0.1 +
    WR['TDS.1']*6 -
    WR['FL']*2 )
print(WRRealFPTs)

1      254.100
2      252.075
3      231.010
4      221.580
5      220.995
        ...
262      0.975
263      0.945
264      0.935
265      0.935
266      0.910
Length: 266, dtype: float64

In [89]:
WR

,Player,Team,REC,YDS,TDS,ATT,YDS.1,TDS.1,FL,FPTS,Pos,TrueFPTs
1,Tyreek Hill,KC,100.2,1436.1,12.3,12.9,82.4,0.8,0.7,229.2,WR,254.100
2,Davante Adams,GB,122.5,1462.5,12.8,0.0,0.0,0.0,0.8,221.3,WR,252.075
3,Stefon Diggs,BUF,113.6,1476.5,9.2,2.4,15.6,0.1,1.2,202.6,WR,231.010
4,Calvin Ridley,ATL,99.8,1422.2,8.8,4.6,26.1,0.1,0.8,196.7,WR,221.580
5,DeAndre Hopkins,ARI,122.1,1468.3,7.7,0.9,4.4,0.0,1.5,190.3,WR,220.995
...,...,...,...,...,...,...,...,...,...,...,...,...
262,Cody Hollister,TEN,0.7,8.0,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.975
263,C.J. Board,NYG,0.7,7.7,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.945
264,Keith Kirkwood,CAR,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.935
265,Jordan Matthews,SF,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.935
266,Ryan Switzer,CLE,0.8,7.1,0.0,0.0,0.0,0.0,0.0,0.7,WR,0.910

In [90]:
###Calculating NFFFLLLC Projected Points (WR&RB)
RBRealFPTs= (
    RB['YDS']*0.1 +
    RB['TDS']*6 +
    RB['REC']*0.25   +
    RB['YDS.1']*0.1 +
    RB['TDS.1']*6 -
    RB['FL']*2 )
print(RBRealFPTs)

KeyError: 'REC'

In [91]:
QB

,Player,Team,ATT,CMP,YDS,TDS,INTS,ATT.1,YDS.1,TDS.1,FL,FPTS,Pos
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,QB
1,Josh Allen,BUF,605.1,400.0,4565.6,33.7,13.3,110.9,519.7,7.6,5.1,378.5,QB
2,Patrick Mahomes II,KC,630.5,418.9,5027.8,38.5,9.1,55.3,267.2,2.9,2.5,376.4,QB
3,Kyler Murray,ARI,588.5,389.7,4198.2,26.7,12.9,125.8,698.8,7.7,3.7,357.7,QB
4,Lamar Jackson,BAL,462.1,296.3,3377.9,28.6,12.2,152.9,920.2,6.7,4.0,349.3,QB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,Ryan Griffin,TB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
95,C.J. Beathard,JAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
96,Easton Stick,LAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,QB
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,QB

In [102]:
QB = QB.rename(columns={"YDS.1": "RYDS", "TDS": "PTDS", "TDS.1": "RTDS", "ATT.1":"RATT", "ATT":"PATT"})

In [94]:
QB = QB.drop(labels=[0,97,98], axis=0)

In [97]:
RB = df

,Player,Team,ATT,YDS,TDS,REC,YDS.1,TDS.1,FL,FPTS,Calc,TrueFPTs,Pos
1,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,2086.6,325.060,RB
2,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,1964.0,294.250,RB
3,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,1849.7,277.395,RB
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,1627.3,258.180,RB
5,Nick Chubb,CLE,273.5,1371.7,11.1,28.6,225.2,1.0,1.9,228.2,1596.9,235.640,RB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Jason Cabinda,DET,0.8,3.5,0.0,1.0,6.1,0.0,0.0,1.0,9.6,1.210,RB
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9,9.2,1.145,RB
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9,9.1,1.135,RB
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9,8.9,1.115,RB
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1,1.1,0.160,RB

In [99]:
WR

,Player,Team,REC,YDS,TDS,ATT,YDS.1,TDS.1,FL,FPTS,Pos,TrueFPTs
1,Tyreek Hill,KC,100.2,1436.1,12.3,12.9,82.4,0.8,0.7,229.2,WR,254.100
2,Davante Adams,GB,122.5,1462.5,12.8,0.0,0.0,0.0,0.8,221.3,WR,252.075
3,Stefon Diggs,BUF,113.6,1476.5,9.2,2.4,15.6,0.1,1.2,202.6,WR,231.010
4,Calvin Ridley,ATL,99.8,1422.2,8.8,4.6,26.1,0.1,0.8,196.7,WR,221.580
5,DeAndre Hopkins,ARI,122.1,1468.3,7.7,0.9,4.4,0.0,1.5,190.3,WR,220.995
...,...,...,...,...,...,...,...,...,...,...,...,...
262,Cody Hollister,TEN,0.7,8.0,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.975
263,C.J. Board,NYG,0.7,7.7,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.945
264,Keith Kirkwood,CAR,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.935
265,Jordan Matthews,SF,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.935
266,Ryan Switzer,CLE,0.8,7.1,0.0,0.0,0.0,0.0,0.0,0.7,WR,0.910

In [103]:
QB

,Player,Team,PATT,CMP,YDS,PTDS,INTS,RATT,RYDS,RTDS,FL,FPTS,Pos
1,Josh Allen,BUF,605.1,400.0,4565.6,33.7,13.3,110.9,519.7,7.6,5.1,378.5,QB
2,Patrick Mahomes II,KC,630.5,418.9,5027.8,38.5,9.1,55.3,267.2,2.9,2.5,376.4,QB
3,Kyler Murray,ARI,588.5,389.7,4198.2,26.7,12.9,125.8,698.8,7.7,3.7,357.7,QB
4,Lamar Jackson,BAL,462.1,296.3,3377.9,28.6,12.2,152.9,920.2,6.7,4.0,349.3,QB
5,Dak Prescott,DAL,623.3,416.4,4848.3,31.0,11.1,63.4,296.5,4.0,4.2,341.3,QB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Joshua Dobbs,PIT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
93,Brett Rypien,DEN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
94,Ryan Griffin,TB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
95,C.J. Beathard,JAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
96,Easton Stick,LAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB

In [101]:
RB

,Player,Team,ATT,YDS,TDS,REC,YDS.1,TDS.1,FL,FPTS,Calc,TrueFPTs,Pos
1,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,2086.6,325.060,RB
2,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,1964.0,294.250,RB
3,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,1849.7,277.395,RB
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,1627.3,258.180,RB
5,Nick Chubb,CLE,273.5,1371.7,11.1,28.6,225.2,1.0,1.9,228.2,1596.9,235.640,RB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
171,Jason Cabinda,DET,0.8,3.5,0.0,1.0,6.1,0.0,0.0,1.0,9.6,1.210,RB
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9,9.2,1.145,RB
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9,9.1,1.135,RB
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9,8.9,1.115,RB
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1,1.1,0.160,RB

In [1]:
##TO DO
# Concatenate dataframes
# Sort all players in dataframe by VORP & apply ranking column
# Export dataframe

In [2]:
###DOCUMENTATION

##Cleaning up the data ("df"=RB,WR,TE,orQB)

#Reading in the data
df = pd.read_csv("/Users/gordo/Desktop/FantasyPros_Fantasy_Football_Projections_df.csv")

#Cleaning up NaNs
print(df)
df = df.drop(labels=[], axis=0)

#Adding position
df['Pos'] = 'df'

#Cleaning out commas
df = df.replace(',','',regex=True)

#Checking the data types of the dataframe
df.dtypes

#Changing rows to float
df = df.astype({"YDS": float})

#Column names
Rushing = R 
Receiving/Catches = C 
Passing = P 
TrueFPTs = calculated points based on rules

#Standardize Column Names
df.columns
df = df.rename(columns={
    "YDS.1": "RYDS", 
    "TDS": "PTDS", 
    "TDS.1": "RTDS", 
    "ATT.1":"RATT", 
    "ATT":"PATT"})


##Projected Points

#Calculating NFFFLLLC Projected Points (WR&RB&TE)
dfRealFPTs= (
    df['CYDS']*0.1 +
    df['CTDS']*6 +
    df['REC']*0.25   +
    df['RYDS']*0.1 +
    df['RTDS']*6 -
    df['FL']*2 )
print(dfRealFPTs)

#Calculating NFFFLLLC Projected Points (QB)
QBRealFPTs= (
    QB['PYDS']*0.04 +
    QB['PTDS']*4 +
    QB['REC']*0.25   +
    QB['RYDS']*0.1 +
    QB['RTDS']*6 -
    QB['FL']*2 -
    QB['INTS']*2)

#Adding NFFFLLLC Projected Points to dataframe
df['TrueFPTs']= dfRealFPTs

#Assign positional ranks by TrueFPTs & Add to dataframe
dfRank = df['dfTrueFPTs'].rank(ascending = False)
df['dfRank'] = dfRank

#Find Replacement Player within dataframes
# Ranks: QB= 11. RB = 50, WR = 53, TE = 8
# Replacement Player TrueFPTs Value: QB= 303.658. RB = 87.67, WR = 117.085, TE = 114.485
df.loc[df['dfRank'] == Rank]

#Calculate VORP for each position  & add VORP to each dataframe
dfVORP = df['dfTrueFPTs'] - df Replacement Player TrueFPTs Value
df['VORP'] = dfVORP

#Put all positions together into one dataframe
Test = pd.concat([RB, WR, QB, TE], ignore_index=True, sort=False)

#Export data to my desktop
Test.to_csv(r'/Users/gordo/Desktop/FantasyPros_Fantasy_Football_Projections_Cleaned.csv', index = False)

NameError: name 'QB' is not defined

In [5]:
QB = pd.read_csv("/Users/gordo/Desktop/FantasyPros_Fantasy_Football_Projections_QB.csv")
RB = pd.read_csv("/Users/gordo/Desktop/FantasyPros_Fantasy_Football_Projections_RB.csv")
WR = pd.read_csv("/Users/gordo/Desktop/FantasyPros_Fantasy_Football_Projections_WR.csv")
TE = pd.read_csv("/Users/gordo/Desktop/FantasyPros_Fantasy_Football_Projections_TE.csv")

In [6]:
QB

,Player,Team,ATT,CMP,YDS,TDS,INTS,ATT.1,YDS.1,TDS.1,FL,FPTS
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Josh Allen,BUF,605.1,400.0,"4,565.6",33.7,13.3,110.9,519.7,7.6,5.1,378.5
2,Patrick Mahomes II,KC,630.5,418.9,"5,027.8",38.5,9.1,55.3,267.2,2.9,2.5,376.4
3,Kyler Murray,ARI,588.5,389.7,"4,198.2",26.7,12.9,125.8,698.8,7.7,3.7,357.7
4,Lamar Jackson,BAL,462.1,296.3,"3,377.9",28.6,12.2,152.9,920.2,6.7,4.0,349.3
...,...,...,...,...,...,...,...,...,...,...,...,...
94,Ryan Griffin,TB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95,C.J. Beathard,JAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96,Easton Stick,LAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
QB = QB.drop(labels=[0,97,98], axis=0)

In [8]:
RB

,Player,Team,ATT,YDS,TDS,REC,YDS.1,TDS.1,FL,FPTS
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Christian McCaffrey,CAR,297.1,"1,301.6",11.9,96.8,785.0,4.3,2.5,301.0
2,Dalvin Cook,MIN,317.5,"1,491.7",13.0,54.6,472.3,2.0,2.9,280.2
3,Derrick Henry,TEN,341.0,"1,669.9",14.2,24.1,179.8,1.1,2.7,271.3
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0
...,...,...,...,...,...,...,...,...,...,...
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1
176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
RB = RB.drop(labels=[0,176,177], axis=0)

In [10]:
WR

,Player,Team,REC,YDS,TDS,ATT,YDS.1,TDS.1,FL,FPTS
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tyreek Hill,KC,100.2,"1,436.1",12.3,12.9,82.4,0.8,0.7,229.2
2,Davante Adams,GB,122.5,"1,462.5",12.8,0.0,0.0,0.0,0.8,221.3
3,Stefon Diggs,BUF,113.6,"1,476.5",9.2,2.4,15.6,0.1,1.2,202.6
4,Calvin Ridley,ATL,99.8,"1,422.2",8.8,4.6,26.1,0.1,0.8,196.7
...,...,...,...,...,...,...,...,...,...,...
264,Keith Kirkwood,CAR,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8
265,Jordan Matthews,SF,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8
266,Ryan Switzer,CLE,0.8,7.1,0.0,0.0,0.0,0.0,0.0,0.7
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
WR = WR.drop(labels=[0,267,268], axis=0)

In [12]:
TE

             Player Team    REC      YDS   TDS   FL   FPTS
0                    NaN    NaN      NaN   NaN  NaN    NaN
1      Travis Kelce   KC  112.4  1,399.2  10.2  0.8  199.8
2     George Kittle   SF   96.5  1,204.2   6.6  0.7  158.5
3     Darren Waller   LV  100.3  1,144.7   7.1  0.9  155.6
4      Mark Andrews  BAL   69.8    849.8   8.1  0.9  131.9
..              ...  ...    ...      ...   ...  ...    ...
139   MyCole Pruitt   SF    0.9      8.4   0.0  0.0    0.8
140   Cole Hikutini  NYG    0.8      7.2   0.0  0.0    0.7
141  Colin Thompson  CAR    0.7      6.8   0.0  0.0    0.7
142             NaN  NaN    NaN      NaN   NaN  NaN    NaN
143             NaN  NaN    NaN      NaN   NaN  NaN    NaN

[144 rows x 7 columns]

In [13]:
TE = TE.drop(labels=[0,142,143], axis=0)

In [14]:
QB = QB.replace(',','',regex=True)
RB = RB.replace(',','',regex=True)
WR = WR.replace(',','',regex=True)
TE = TE.replace(',','',regex=True)

In [15]:
QB['POS'] = 'QB'
RB['POS'] = 'RB'
WR['POS'] = 'WR'
TE['POS'] = 'TE'

In [16]:
QB.dtypes

Player     object
Team       object
ATT       float64
CMP       float64
YDS        object
TDS       float64
INTS      float64
ATT.1     float64
YDS.1     float64
TDS.1     float64
FL        float64
FPTS      float64
POS        object
dtype: object

In [17]:
RB.dtypes

Player     object
Team       object
ATT       float64
YDS        object
TDS       float64
REC       float64
YDS.1     float64
TDS.1     float64
FL        float64
FPTS      float64
POS        object
dtype: object

In [18]:
WR.dtypes

Player     object
Team       object
REC       float64
YDS        object
TDS       float64
ATT       float64
YDS.1     float64
TDS.1     float64
FL        float64
FPTS      float64
POS        object
dtype: object

In [19]:
TE.dtypes

Player     object
Team       object
REC       float64
YDS        object
TDS       float64
FL        float64
FPTS      float64
POS        object
dtype: object

In [20]:
QB = QB.astype({"YDS": float})
WR = WR.astype({"YDS": float})
RB = RB.astype({"YDS": float})
TE = TE.astype({"YDS": float})

In [21]:
QB.columns

Index(['Player', 'Team', 'ATT', 'CMP', 'YDS', 'TDS', 'INTS', 'ATT.1', 'YDS.1',
       'TDS.1', 'FL', 'FPTS', 'POS'],
      dtype='object')

In [22]:
QB = QB.rename(columns={
    "YDS.1": "RYDS", 
    "TDS": "PTDS", 
    "TDS.1": "RTDS", 
    "ATT.1":"RATT", 
    "ATT":"PATT",
    "YDS": "PYDS"})

In [23]:
RB

,Player,Team,ATT,YDS,TDS,REC,YDS.1,TDS.1,FL,FPTS,POS
1,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,RB
2,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,RB
3,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,RB
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,RB
5,Nick Chubb,CLE,273.5,1371.7,11.1,28.6,225.2,1.0,1.9,228.2,RB
...,...,...,...,...,...,...,...,...,...,...,...
171,Jason Cabinda,DET,0.8,3.5,0.0,1.0,6.1,0.0,0.0,1.0,RB
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9,RB
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9,RB
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9,RB
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1,RB

In [24]:
RB = RB.rename(columns={
    "YDS": "RYDS", 
    "TDS": "RTDS", 
    "TDS.1": "CTDS", 
    "YDS.1":"CYDS", 
    "ATT":"RATT"})

In [25]:
WR

,Player,Team,REC,YDS,TDS,ATT,YDS.1,TDS.1,FL,FPTS,POS
1,Tyreek Hill,KC,100.2,1436.1,12.3,12.9,82.4,0.8,0.7,229.2,WR
2,Davante Adams,GB,122.5,1462.5,12.8,0.0,0.0,0.0,0.8,221.3,WR
3,Stefon Diggs,BUF,113.6,1476.5,9.2,2.4,15.6,0.1,1.2,202.6,WR
4,Calvin Ridley,ATL,99.8,1422.2,8.8,4.6,26.1,0.1,0.8,196.7,WR
5,DeAndre Hopkins,ARI,122.1,1468.3,7.7,0.9,4.4,0.0,1.5,190.3,WR
...,...,...,...,...,...,...,...,...,...,...,...
262,Cody Hollister,TEN,0.7,8.0,0.0,0.0,0.0,0.0,0.0,0.8,WR
263,C.J. Board,NYG,0.7,7.7,0.0,0.0,0.0,0.0,0.0,0.8,WR
264,Keith Kirkwood,CAR,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR
265,Jordan Matthews,SF,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR
266,Ryan Switzer,CLE,0.8,7.1,0.0,0.0,0.0,0.0,0.0,0.7,WR

In [26]:
WR = WR.rename(columns={
    "YDS": "CYDS", 
    "TDS": "CTDS", 
    "TDS.1": "RTDS", 
    "YDS.1":"RYDS", 
    "ATT":"RATT"})

In [27]:
TE

             Player Team    REC     YDS   TDS   FL   FPTS POS
1      Travis Kelce   KC  112.4  1399.2  10.2  0.8  199.8  TE
2     George Kittle   SF   96.5  1204.2   6.6  0.7  158.5  TE
3     Darren Waller   LV  100.3  1144.7   7.1  0.9  155.6  TE
4      Mark Andrews  BAL   69.8   849.8   8.1  0.9  131.9  TE
5        Kyle Pitts  ATL   69.0   832.7   6.4  1.2  119.1  TE
..              ...  ...    ...     ...   ...  ...    ...  ..
137       Tim Tebow  JAC    0.9     8.4   0.0  0.0    0.8  TE
138   Hakeem Butler  PHI    0.8     8.4   0.0  0.0    0.8  TE
139   MyCole Pruitt   SF    0.9     8.4   0.0  0.0    0.8  TE
140   Cole Hikutini  NYG    0.8     7.2   0.0  0.0    0.7  TE
141  Colin Thompson  CAR    0.7     6.8   0.0  0.0    0.7  TE

[141 rows x 8 columns]

In [28]:
TE = TE.rename(columns={
    "YDS": "CYDS", 
    "TDS": "CTDS"})

In [29]:
RBRealFPTs= (
    RB['CYDS']*0.1 +
    RB['CTDS']*6 +
    RB['REC']*0.25   +
    RB['RYDS']*0.1 +
    RB['RTDS']*6 -
    RB['FL']*2 )
print(RBRealFPTs)

1      325.060
2      294.250
3      277.395
4      258.180
5      235.640
        ...
171      1.210
172      1.145
173      1.135
174      1.115
175      0.160
Length: 175, dtype: float64

In [30]:
WRRealFPTs= (
    WR['CYDS']*0.1 +
    WR['CTDS']*6 +
    WR['REC']*0.25   +
    WR['RYDS']*0.1 +
    WR['RTDS']*6 -
    WR['FL']*2 )
print(WRRealFPTs)

1      254.100
2      252.075
3      231.010
4      221.580
5      220.995
        ...
262      0.975
263      0.945
264      0.935
265      0.935
266      0.910
Length: 266, dtype: float64

In [32]:
TERealFPTs= (
    TE['CYDS']*0.1 +
    TE['CTDS']*6 +
    TE['REC']*0.25 -
    TE['FL']*2 )
print(TERealFPTs)

1      227.620
2      182.745
3      180.345
4      149.230
5      136.520
        ...
137      1.065
138      1.040
139      1.065
140      0.920
141      0.855
Length: 141, dtype: float64

In [34]:
QB.columns

Index(['Player', 'Team', 'PATT', 'CMP', 'PYDS', 'PTDS', 'INTS', 'RATT', 'RYDS',
       'RTDS', 'FL', 'FPTS', 'POS'],
      dtype='object')

In [36]:
QBRealFPTs= (
    QB['PYDS']*0.04 +
    QB['PTDS']*4 +
    QB['RYDS']*0.1 +
    QB['RTDS']*6 -
    QB['FL']*2 -
    QB['INTS']*2)
print(QBRealFPTs)

1     378.194
2     376.032
3     357.608
4     349.336
5     340.982
       ...
92      0.000
93      0.000
94      0.000
95      0.000
96      0.000
Length: 96, dtype: float64

In [37]:
QB

,Player,Team,PATT,CMP,PYDS,PTDS,INTS,RATT,RYDS,RTDS,FL,FPTS,POS
1,Josh Allen,BUF,605.1,400.0,4565.6,33.7,13.3,110.9,519.7,7.6,5.1,378.5,QB
2,Patrick Mahomes II,KC,630.5,418.9,5027.8,38.5,9.1,55.3,267.2,2.9,2.5,376.4,QB
3,Kyler Murray,ARI,588.5,389.7,4198.2,26.7,12.9,125.8,698.8,7.7,3.7,357.7,QB
4,Lamar Jackson,BAL,462.1,296.3,3377.9,28.6,12.2,152.9,920.2,6.7,4.0,349.3,QB
5,Dak Prescott,DAL,623.3,416.4,4848.3,31.0,11.1,63.4,296.5,4.0,4.2,341.3,QB
...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Joshua Dobbs,PIT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
93,Brett Rypien,DEN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
94,Ryan Griffin,TB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
95,C.J. Beathard,JAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB
96,Easton Stick,LAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB

In [38]:
WR['WRTrueFPTs']= WRRealFPTs
RB['RBTrueFPTs']= RBRealFPTs
TE['TETrueFPTs']= TERealFPTs
QB['QBTrueFPTs']= QBRealFPTs

In [43]:
RB = RB.sort_values('RBTrueFPTs', axis=0,ascending=False)

In [44]:
RB

,Player,Team,RATT,RYDS,RTDS,REC,CYDS,CTDS,FL,FPTS,POS,RBTrueFPTs
1,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,RB,325.060
2,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,RB,294.250
3,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,RB,277.395
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,RB,258.180
9,Saquon Barkley,NYG,265.2,1197.7,9.1,55.9,433.2,2.0,1.8,225.8,RB,240.065
...,...,...,...,...,...,...,...,...,...,...,...,...
170,Scottie Phillips,HOU,0.8,3.5,0.0,0.9,6.1,0.0,0.0,1.0,RB,1.185
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9,RB,1.145
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9,RB,1.135
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9,RB,1.115
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1,RB,0.160

In [50]:
RB.rank(ascending = False)

,Player,Team,RATT,RYDS,RTDS,REC,CYDS,CTDS,FL,FPTS,POS,RBTrueFPTs
1,145.0,153.5,3.0,4.0,3.0,1.0,1.0,2.0,6.0,1.0,88.0,1.0
2,136.0,74.0,2.0,2.0,2.0,8.0,5.0,17.5,2.5,2.0,88.0,2.0
3,122.0,8.0,1.0,1.0,1.0,42.0,43.0,38.0,4.0,3.0,88.0,3.0
4,167.0,61.0,22.0,20.0,7.5,2.0,3.0,3.0,18.5,4.0,88.0,4.0
9,21.0,53.5,8.0,7.0,12.0,7.0,7.0,17.5,23.5,8.5,88.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
170,20.0,115.0,171.5,169.0,161.5,161.5,162.0,154.0,146.5,166.5,88.0,171.0
172,79.0,79.5,164.0,160.0,161.5,161.5,169.0,154.0,146.5,173.0,88.0,172.0
173,17.0,53.5,164.0,163.5,161.5,161.5,168.0,154.0,146.5,173.0,88.0,173.0
174,140.0,53.5,164.0,163.5,161.5,161.5,170.0,154.0,146.5,173.0,88.0,174.0
175,13.0,61.0,164.0,173.0,161.5,175.0,175.0,154.0,146.5,175.0,88.0,175.0

In [61]:
RBRank = RB['RBTrueFPTs'].rank(ascending = False)

In [62]:
RBRank

1        1.0
2        2.0
3        3.0
4        4.0
9        5.0
       ...
170    171.0
172    172.0
173    173.0
174    174.0
175    175.0
Name: RBTrueFPTs, Length: 175, dtype: float64

In [63]:
RB['RBRank'] = RBRank

In [64]:
RB

,Player,Team,RATT,RYDS,RTDS,REC,CYDS,CTDS,FL,FPTS,POS,RBTrueFPTs,RBRank
1,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,RB,325.060,1.0
2,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,RB,294.250,2.0
3,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,RB,277.395,3.0
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,RB,258.180,4.0
9,Saquon Barkley,NYG,265.2,1197.7,9.1,55.9,433.2,2.0,1.8,225.8,RB,240.065,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Scottie Phillips,HOU,0.8,3.5,0.0,0.9,6.1,0.0,0.0,1.0,RB,1.185,171.0
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9,RB,1.145,172.0
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9,RB,1.135,173.0
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9,RB,1.115,174.0
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1,RB,0.160,175.0

In [66]:
WRRank = WR['WRTrueFPTs'].rank(ascending = False)
WR['WRRank'] = WRRank
TERank = TE['TETrueFPTs'].rank(ascending = False)
TE['TERank'] = TERank
QBRank = QB['QBTrueFPTs'].rank(ascending = False)
QB['QBRank'] = QBRank

In [67]:
QB

,Player,Team,PATT,CMP,PYDS,PTDS,INTS,RATT,RYDS,RTDS,FL,FPTS,POS,QBTrueFPTs,QBRank
1,Josh Allen,BUF,605.1,400.0,4565.6,33.7,13.3,110.9,519.7,7.6,5.1,378.5,QB,378.194,1.0
2,Patrick Mahomes II,KC,630.5,418.9,5027.8,38.5,9.1,55.3,267.2,2.9,2.5,376.4,QB,376.032,2.0
3,Kyler Murray,ARI,588.5,389.7,4198.2,26.7,12.9,125.8,698.8,7.7,3.7,357.7,QB,357.608,3.0
4,Lamar Jackson,BAL,462.1,296.3,3377.9,28.6,12.2,152.9,920.2,6.7,4.0,349.3,QB,349.336,4.0
5,Dak Prescott,DAL,623.3,416.4,4848.3,31.0,11.1,63.4,296.5,4.0,4.2,341.3,QB,340.982,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,Joshua Dobbs,PIT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB,0.000,86.5
93,Brett Rypien,DEN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB,0.000,86.5
94,Ryan Griffin,TB,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB,0.000,86.5
95,C.J. Beathard,JAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB,0.000,86.5
96,Easton Stick,LAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,QB,0.000,86.5

In [68]:
RB

,Player,Team,RATT,RYDS,RTDS,REC,CYDS,CTDS,FL,FPTS,POS,RBTrueFPTs,RBRank
1,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,RB,325.060,1.0
2,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,RB,294.250,2.0
3,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,RB,277.395,3.0
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,RB,258.180,4.0
9,Saquon Barkley,NYG,265.2,1197.7,9.1,55.9,433.2,2.0,1.8,225.8,RB,240.065,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Scottie Phillips,HOU,0.8,3.5,0.0,0.9,6.1,0.0,0.0,1.0,RB,1.185,171.0
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9,RB,1.145,172.0
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9,RB,1.135,173.0
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9,RB,1.115,174.0
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1,RB,0.160,175.0

In [69]:
WR

,Player,Team,REC,CYDS,CTDS,RATT,RYDS,RTDS,FL,FPTS,POS,WRTrueFPTs,WRRank
1,Tyreek Hill,KC,100.2,1436.1,12.3,12.9,82.4,0.8,0.7,229.2,WR,254.100,1.0
2,Davante Adams,GB,122.5,1462.5,12.8,0.0,0.0,0.0,0.8,221.3,WR,252.075,2.0
3,Stefon Diggs,BUF,113.6,1476.5,9.2,2.4,15.6,0.1,1.2,202.6,WR,231.010,3.0
4,Calvin Ridley,ATL,99.8,1422.2,8.8,4.6,26.1,0.1,0.8,196.7,WR,221.580,4.0
5,DeAndre Hopkins,ARI,122.1,1468.3,7.7,0.9,4.4,0.0,1.5,190.3,WR,220.995,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Cody Hollister,TEN,0.7,8.0,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.975,260.0
263,C.J. Board,NYG,0.7,7.7,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.945,263.0
264,Keith Kirkwood,CAR,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.935,264.5
265,Jordan Matthews,SF,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.935,264.5
266,Ryan Switzer,CLE,0.8,7.1,0.0,0.0,0.0,0.0,0.0,0.7,WR,0.910,266.0

In [70]:
RB.loc[RB['RBRank'] == 50]

,Player,Team,RATT,RYDS,RTDS,REC,CYDS,CTDS,FL,FPTS,POS,RBTrueFPTs,RBRank
50,Alexander Mattison,MIN,115.6,519.6,2.7,16.2,132.6,0.6,0.7,84.1,RB,87.67,50.0

In [71]:
# Ranks: QB= 11. RB = 50, WR = 53, TE = 8
# TrueFPTs Value: QB= 303.658. RB = 87.67, WR = 117.085, TE = 114.485
WR.loc[WR['WRRank'] == 53]

,Player,Team,REC,CYDS,CTDS,RATT,RYDS,RTDS,FL,FPTS,POS,WRTrueFPTs,WRRank
53,Jaylen Waddle,MIA,57.1,764.5,4.7,1.0,5.6,0.0,1.2,102.7,WR,117.085,53.0

In [72]:
TE.loc[TE['TERank'] == 8]

         Player Team   REC   CYDS  CTDS   FL  FPTS POS  TETrueFPTs  TERank
9  Tyler Higbee  LAR  60.9  680.6   5.4  0.6  99.1  TE     114.485     8.0

In [73]:
QB.loc[QB['QBRank'] == 11]

,Player,Team,PATT,CMP,PYDS,PTDS,INTS,RATT,RYDS,RTDS,FL,FPTS,POS,QBTrueFPTs,QBRank
11,Jalen Hurts,PHI,536.6,328.1,3703.7,22.5,14.4,133.8,691.1,5.8,4.8,303.7,QB,303.658,11.0

In [75]:
RBVORP = RB['RBTrueFPTs'] - 87.67

In [76]:
WRVORP = WR['WRTrueFPTs'] - 117.085

In [77]:
TEVORP = TE['TETrueFPTs'] - 114.485

In [78]:
QBVORP = QB['QBTrueFPTs'] - 303.658

In [79]:
RB['VORP'] = RBVORP
WR['VORP'] = WRVORP
TE['VORP'] = TEVORP
QB['VORP'] = QBVORP

In [80]:
RB

,Player,Team,RATT,RYDS,RTDS,REC,CYDS,CTDS,FL,FPTS,POS,RBTrueFPTs,RBRank,VORP
1,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,RB,325.060,1.0,237.390
2,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,RB,294.250,2.0,206.580
3,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,RB,277.395,3.0,189.725
4,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,RB,258.180,4.0,170.510
9,Saquon Barkley,NYG,265.2,1197.7,9.1,55.9,433.2,2.0,1.8,225.8,RB,240.065,5.0,152.395
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170,Scottie Phillips,HOU,0.8,3.5,0.0,0.9,6.1,0.0,0.0,1.0,RB,1.185,171.0,-86.485
172,Jordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9,RB,1.145,172.0,-86.525
173,Taquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9,RB,1.135,173.0,-86.535
174,Cullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9,RB,1.115,174.0,-86.555
175,Tony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1,RB,0.160,175.0,-87.510

In [81]:
WR

,Player,Team,REC,CYDS,CTDS,RATT,RYDS,RTDS,FL,FPTS,POS,WRTrueFPTs,WRRank,VORP
1,Tyreek Hill,KC,100.2,1436.1,12.3,12.9,82.4,0.8,0.7,229.2,WR,254.100,1.0,137.015
2,Davante Adams,GB,122.5,1462.5,12.8,0.0,0.0,0.0,0.8,221.3,WR,252.075,2.0,134.990
3,Stefon Diggs,BUF,113.6,1476.5,9.2,2.4,15.6,0.1,1.2,202.6,WR,231.010,3.0,113.925
4,Calvin Ridley,ATL,99.8,1422.2,8.8,4.6,26.1,0.1,0.8,196.7,WR,221.580,4.0,104.495
5,DeAndre Hopkins,ARI,122.1,1468.3,7.7,0.9,4.4,0.0,1.5,190.3,WR,220.995,5.0,103.910
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,Cody Hollister,TEN,0.7,8.0,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.975,260.0,-116.110
263,C.J. Board,NYG,0.7,7.7,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.945,263.0,-116.140
264,Keith Kirkwood,CAR,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.935,264.5,-116.150
265,Jordan Matthews,SF,0.7,7.6,0.0,0.0,0.0,0.0,0.0,0.8,WR,0.935,264.5,-116.150
266,Ryan Switzer,CLE,0.8,7.1,0.0,0.0,0.0,0.0,0.0,0.7,WR,0.910,266.0,-116.175

In [82]:
Test = pd.concat(RB,WR,TE,QB)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [83]:
Test = pd.concat([RB, WR, QB, TE], ignore_index=True, sort=False)

In [84]:
Test

,Player,Team,RATT,RYDS,RTDS,REC,CYDS,CTDS,FL,FPTS,...,WRRank,PATT,CMP,PYDS,PTDS,INTS,QBTrueFPTs,QBRank,TETrueFPTs,TERank
0,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Saquon Barkley,NYG,265.2,1197.7,9.1,55.9,433.2,2.0,1.8,225.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,Tim Tebow,JAC,NaN,NaN,NaN,0.9,8.4,0.0,0.0,0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.065,134.5
674,Hakeem Butler,PHI,NaN,NaN,NaN,0.8,8.4,0.0,0.0,0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.040,138.0
675,MyCole Pruitt,SF,NaN,NaN,NaN,0.9,8.4,0.0,0.0,0.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.065,134.5
676,Cole Hikutini,NYG,NaN,NaN,NaN,0.8,7.2,0.0,0.0,0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.920,140.0
677,Colin Thompson,CAR,NaN,NaN,NaN,0.7,6.8,0.0,0.0,0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.855,141.0

In [87]:
Test.sort_values('VORP', axis=0,ascending=False)

,Player,Team,RATT,RYDS,RTDS,REC,CYDS,CTDS,FL,FPTS,...,WRRank,PATT,CMP,PYDS,PTDS,INTS,QBTrueFPTs,QBRank,TETrueFPTs,TERank
0,Christian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Dalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Derrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Alvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Saquon Barkley,NYG,265.2,1197.7,9.1,55.9,433.2,2.0,1.8,225.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
521,Sean Mannion,SEA,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,86.5,NaN,NaN
520,Jake Luton,JAC,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,86.5,NaN,NaN
519,Devlin Hodges,LAR,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,86.5,NaN,NaN
518,Cooper Rush,DAL,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,86.5,NaN,NaN
526,Nate Sudfeld,SF,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,...,NaN,0.0,0.0,0.0,0.0,0.0,0.0,86.5,NaN,NaN

In [88]:
Test.columns

Index(['Player', 'Team', 'RATT', 'RYDS', 'RTDS', 'REC', 'CYDS', 'CTDS', 'FL',
       'FPTS', 'POS', 'RBTrueFPTs', 'RBRank', 'VORP', 'WRTrueFPTs', 'WRRank',
       'PATT', 'CMP', 'PYDS', 'PTDS', 'INTS', 'QBTrueFPTs', 'QBRank',
       'TETrueFPTs', 'TERank'],
      dtype='object')

In [91]:
Test[['Player','VORP']]

                  Player     VORP
0    Christian McCaffrey  237.390
1            Dalvin Cook  206.580
2          Derrick Henry  189.725
3           Alvin Kamara  170.510
4         Saquon Barkley  152.395
..                   ...      ...
673            Tim Tebow -113.420
674        Hakeem Butler -113.445
675        MyCole Pruitt -113.420
676        Cole Hikutini -113.565
677       Colin Thompson -113.630

[678 rows x 2 columns]

In [92]:
Test.to_csv(index=False)

"Player,Team,RATT,RYDS,RTDS,REC,CYDS,CTDS,FL,FPTS,POS,RBTrueFPTs,RBRank,VORP,WRTrueFPTs,WRRank,PATT,CMP,PYDS,PTDS,INTS,QBTrueFPTs,QBRank,TETrueFPTs,TERank\r\nChristian McCaffrey,CAR,297.1,1301.6,11.9,96.8,785.0,4.3,2.5,301.0,RB,325.05999999999995,1.0,237.38999999999993,,,,,,,,,,,\r\nDalvin Cook,MIN,317.5,1491.7,13.0,54.6,472.3,2.0,2.9,280.2,RB,294.25,2.0,206.57999999999998,,,,,,,,,,,\r\nDerrick Henry,TEN,341.0,1669.9,14.2,24.1,179.8,1.1,2.7,271.3,RB,277.39500000000004,3.0,189.72500000000002,,,,,,,,,,,\r\nAlvin Kamara,NO,206.9,941.4,9.7,80.2,685.9,3.5,1.9,238.0,RB,258.18,4.0,170.51,,,,,,,,,,,\r\nSaquon Barkley,NYG,265.2,1197.7,9.1,55.9,433.2,2.0,1.8,225.8,RB,240.065,5.0,152.39499999999998,,,,,,,,,,,\r\nEzekiel Elliott,DAL,281.7,1209.2,9.5,52.8,393.0,2.4,2.9,225.8,RB,239.02,6.0,151.35000000000002,,,,,,,,,,,\r\nAaron Jones,GB,231.8,1123.5,10.4,50.6,393.1,2.7,2.1,226.3,RB,238.71000000000004,7.0,151.04000000000002,,,,,,,,,,,\r\nJonathan Taylor,IND,270.7,1252.2,10.6,42.1,320.7,1.6,1.9,226.3,RB,237.215,8.0,149.54500000000002,,,,,,,,,,,\r\nNick Chubb,CLE,273.5,1371.7,11.1,28.6,225.2,1.0,1.9,228.2,RB,235.64000000000001,9.0,147.97000000000003,,,,,,,,,,,\r\nJoe Mixon,CIN,276.5,1164.6,8.1,50.2,366.9,2.9,2.0,215.2,RB,227.7,10.0,140.02999999999997,,,,,,,,,,,\r\nAustin Ekeler,LAC,180.7,820.9,4.7,80.1,690.4,4.9,1.6,205.8,RB,225.555,11.0,137.885,,,,,,,,,,,\r\nNajee Harris,PIT,259.4,1152.3,8.7,49.4,365.7,2.2,2.6,212.3,RB,224.35000000000002,12.0,136.68,,,,,,,,,,,\r\nAntonio Gibson,WAS,242.4,1085.8,9.7,45.5,330.9,1.4,2.1,204.2,RB,215.445,13.0,127.77499999999999,,,,,,,,,,,\r\nClyde Edwards-Helaire,KC,221.8,998.9,7.3,50.6,389.4,2.2,1.8,192.3,RB,204.88000000000002,14.0,117.21000000000002,,,,,,,,,,,\r\nChris Carson,SEA,230.6,1056.0,7.4,43.3,321.1,2.4,2.1,192.2,RB,203.13500000000002,15.0,115.46500000000002,,,,,,,,,,,\r\nD'Andre Swift,DET,195.4,870.0,8.0,58.7,435.9,2.1,2.3,186.3,RB,201.26500000000001,16.0,113.59500000000001,,,,,,,,,,,\r\nDavid Montgomery,CHI,253.5,1061.2,7.9,39.4,312.2,1.6,2.0,190.4,RB,200.19000000000003,17.0,112.52000000000002,,,,,,,,,,,\r\nJ.K. Dobbins,BAL,212.0,1076.4,9.4,31.6,241.0,1.2,1.6,192.1,RB,200.04000000000005,18.0,112.37000000000005,,,,,,,,,,,\r\nJosh Jacobs,LV,251.2,1073.2,9.5,31.5,236.5,0.9,2.0,189.1,RB,197.245,19.0,109.575,,,,,,,,,,,\r\nMiles Sanders,PHI,221.5,1060.4,6.5,40.9,336.7,1.6,1.8,185.1,RB,194.93500000000003,20.0,107.26500000000003,,,,,,,,,,,\r\nDarrell Henderson,LAR,235.0,1010.9,7.7,32.4,269.0,1.6,1.8,180.5,RB,188.29,21.0,100.61999999999999,,,,,,,,,,,\r\nMyles Gaskin,MIA,213.9,909.2,6.0,47.9,370.8,1.9,2.0,171.8,RB,183.37500000000003,22.0,95.70500000000003,,,,,,,,,,,\r\nMike Davis,ATL,221.8,877.2,6.5,48.7,311.3,1.7,1.9,164.4,RB,176.425,23.0,88.75500000000001,,,,,,,,,,,\r\nChase Edmonds,ARI,167.9,748.1,4.9,51.6,378.7,2.9,1.5,156.6,RB,169.38000000000002,24.0,81.71000000000002,,,,,,,,,,,\r\nTravis Etienne,JAC,133.7,595.9,4.1,63.2,500.9,2.6,3.0,143.9,RB,159.67999999999998,25.0,72.00999999999998,,,,,,,,,,,\r\nKareem Hunt,CLE,155.7,689.4,5.6,38.5,313.6,2.5,1.3,146.2,RB,155.92499999999998,26.0,68.25499999999998,,,,,,,,,,,\r\nJames Robinson,JAC,183.2,801.6,5.6,30.4,217.3,1.0,1.5,138.5,RB,146.09,27.0,58.42,,,,,,,,,,,\r\nJavonte Williams,DEN,188.3,835.5,5.5,25.9,202.4,1.1,2.0,139.4,RB,145.865,28.0,58.19500000000001,,,,,,,,,,,\r\nDamien Harris,NE,210.6,991.6,5.8,11.5,87.9,0.3,1.4,141.8,RB,144.625,29.0,56.955,,,,,,,,,,,\r\nRaheem Mostert,SF,154.3,768.6,6.0,23.9,206.8,1.3,1.4,138.7,RB,144.51500000000001,30.0,56.84500000000001,,,,,,,,,,,\r\nLeonard Fournette,TB,167.1,685.0,6.4,28.7,198.3,0.8,1.2,129.2,RB,136.305,31.0,48.635000000000005,,,,,,,,,,,\r\nDavid Johnson,HOU,142.0,593.7,4.3,35.1,315.5,2.0,1.4,125.3,RB,134.695,32.0,47.02499999999999,,,,,,,,,,,\r\nMelvin Gordon III,DEN,168.9,743.7,5.5,21.5,140.4,1.0,2.4,122.4,RB,127.985,33.0,40.315,,,,,,,,,,,\r\nZack Moss,BUF,157.1,670.9,5.7,24.5,175.7,0.9,1.2,122.3,RB,127.98499999999999,34.0,40.31499999999998,,,,,,,,,,,\r\nJames Conner,ARI,149.9,671.7,5.7,22.9,160.6,0.7,1.4,119.0,RB,124.555,35.0,36.885000000000005,,,,,,,,,,,\r\nMichael Carter,NYJ,154.7,646.8,3.8,31.5,241.3,1.1,1.8,115.0,RB,122.485,36.0,34.815,,,,,,,,,,,\r\nRonald Jones II,TB,162.2,729.0,5.4,16.0,112.8,0.3,1.4,115.6,RB,119.58000000000001,37.0,31.91000000000001,,,,,,,,,,,\r\nKenyan Drake,LV,135.2,562.2,4.6,35.1,247.4,0.8,1.4,110.2,RB,119.33500000000001,38.0,31.665000000000006,,,,,,,,,,,\r\nTrey Sermon,SF,140.2,636.4,5.1,19.4,157.3,1.0,1.8,112.5,RB,117.22,39.0,29.549999999999997,,,,,,,,,,,\r\nGus Edwards,BAL,152.2,738.9,5.1,11.0,93.6,0.3,1.3,113.2,RB,115.8,40.0,28.129999999999995,,,,,,,,,,,\r\nJamaal Williams,DET,137.5,566.6,3.5,35.0,239.1,1.2,1.2,106.8,RB,115.12,41.0,27.450000000000003,,,,,,,,,,,\r\nLatavius Murray,NO,141.6,599.3,4.1,25.3,183.9,1.0,1.2,106.3,RB,112.84499999999998,42.0,25.174999999999983,,,,,,,,,,,\r\nAJ Dillon,GB,141.9,640.3,4.5,15.2,116.8,0.5,1.4,103.0,RB,106.71000000000001,43.0,19.040000000000006,,,,,,,,,,,\r\nTony Pollard,DAL,110.7,494.9,3.2,30.6,225.1,1.3,1.2,96.6,RB,104.25,44.0,16.58,,,,,,,,,,,\r\nDevin Singletary,BUF,119.7,528.0,2.9,30.4,214.4,1.2,1.3,96.7,RB,103.84,45.0,16.17,,,,,,,,,,,\r\nJ.D. McKissic,WAS,65.7,283.8,1.5,56.4,409.5,1.7,0.8,87.4,RB,101.03,46.0,13.36,,,,,,,,,,,\r\nNyheim Hines,IND,61.9,266.7,1.9,50.2,373.9,2.2,1.2,86.0,RB,98.81,47.0,11.14,,,,,,,,,,,\r\nJames White,NE,52.5,214.7,1.8,52.1,419.4,2.3,1.2,85.4,RB,98.63499999999999,48.0,10.96499999999999,,,,,,,,,,,\r\nTevin Coleman,NYJ,130.4,504.3,3.6,17.5,133.0,0.3,1.2,84.7,RB,89.10499999999999,49.0,1.434999999999988,,,,,,,,,,,\r\nAlexander Mattison,MIN,115.6,519.6,2.7,16.2,132.6,0.6,0.7,84.1,RB,87.67,50.0,0.0,,,,,,,,,,,\r\nPhillip Lindsay,HOU,107.3,473.8,2.8,20.5,131.4,0.3,1.1,76.8,RB,82.045,51.0,-5.625,,,,,,,,,,,\r\nTarik Cohen,CHI,53.4,219.8,1.2,45.1,307.2,1.5,1.2,66.6,RB,77.77499999999999,52.0,-9.89500000000001,,,,,,,,,,,\r\nXavier Jones,LAR,98.1,405.2,3.4,14.0,113.3,0.6,1.2,73.9,RB,76.94999999999999,53.0,-10.720000000000013,,,,,,,,,,,\r\nRashaad Penny,SEA,86.7,404.8,3.0,13.7,108.2,0.7,0.7,71.8,RB,75.525,54.0,-12.144999999999996,,,,,,,,,,,\r\nDarrel Williams,KC,79.3,332.0,3.2,20.2,149.1,0.7,0.6,70.8,RB,75.36,55.0,-12.310000000000002,,,,,,,,,,,\r\nGiovani Bernard,TB,55.4,201.5,1.4,35.8,272.0,1.5,0.6,63.2,RB,72.50000000000001,56.0,-15.169999999999987,,,,,,,,,,,\r\nDamien Williams,CHI,69.5,292.4,2.8,19.6,140.0,1.2,0.6,66.0,RB,70.94,57.0,-16.730000000000004,,,,,,,,,,,\r\nSony Michel,NE,93.3,413.1,2.6,7.6,65.7,0.4,0.6,64.5,RB,66.58,58.0,-21.090000000000003,,,,,,,,,,,\r\nTy Johnson,NYJ,76.2,329.7,2.2,15.3,104.6,0.6,0.3,59.8,RB,63.455000000000005,59.0,-24.214999999999996,,,,,,,,,,,\r\nMalcolm Brown,MIA,80.0,311.7,3.5,10.6,70.5,0.2,0.7,59.1,RB,61.67,60.0,-26.0,,,,,,,,,,,\r\nJustin Jackson,LAC,77.5,349.8,1.6,15.8,111.9,0.4,0.6,57.1,RB,60.92000000000001,61.0,-26.749999999999993,,,,,,,,,,,\r\nDarrynton Evans,TEN,57.8,249.2,2.0,16.8,137.0,1.0,0.7,55.5,RB,59.42000000000001,62.0,-28.249999999999993,,,,,,,,,,,\r\nQadree Ollison,ATL,79.3,301.2,2.8,9.6,77.5,0.6,0.7,56.8,RB,59.27,63.0,-28.4,,,,,,,,,,,\r\nBoston Scott,PHI,53.2,225.2,1.8,21.8,172.4,0.7,0.7,52.9,RB,58.809999999999995,64.0,-28.860000000000007,,,,,,,,,,,\r\nJoshua Kelley,LAC,97.2,361.4,2.4,9.3,67.1,0.2,1.7,54.9,RB,57.375,65.0,-30.295,,,,,,,,,,,\r\nSalvon Ahmed,MIA,74.1,311.5,2.1,12.6,84.3,0.4,0.3,54.0,RB,57.13,66.0,-30.54,,,,,,,,,,,\r\nJeff Wilson Jr.,SF,65.2,286.7,3.4,5.3,48.2,0.6,1.0,55.6,RB,56.815,67.0,-30.855000000000004,,,,,,,,,,,\r\nDevontae Booker,NYG,78.0,329.2,2.0,11.8,78.1,0.2,0.7,52.7,RB,55.480000000000004,68.0,-32.19,,,,,,,,,,,\r\nMarlon Mack,IND,73.7,314.7,2.6,8.7,62.1,0.2,0.6,53.0,RB,55.455,69.0,-32.215,,,,,,,,,,,\r\nCordarrelle Patterson,ATL,49.2,225.2,1.4,15.1,133.1,0.7,0.2,48.2,RB,51.80499999999999,70.0,-35.86500000000001,,,,,,,,,,,\r\nRex Burkhead,HOU,35.7,150.5,1.4,18.1,169.6,1.3,0.6,47.1,RB,51.535000000000004,71.0,-36.135,,,,,,,,,,,\r\nDeeJay Dallas,SEA,50.6,202.8,1.7,16.7,122.6,0.9,0.6,46.7,RB,51.114999999999995,72.0,-36.55500000000001,,,,,,,,,,,\r\nMark Ingram II,HOU,59.4,244.2,1.8,11.9,99.1,0.7,0.6,48.4,RB,51.105000000000004,73.0,-36.565,,,,,,,,,,,\r\nKenneth Gainwell,PHI,54.4,248.4,1.7,13.4,104.0,0.5,1.1,45.9,RB,49.59,74.0,-38.08,,,,,,,,,,,\r\nChuba Hubbard,CAR,61.8,261.0,2.0,10.6,86.0,0.4,1.1,46.7,RB,49.55,75.0,-38.120000000000005,,,,,,,,,,,\r\nRhamondre Stevenson,NE,60.6,263.8,2.1,9.7,73.4,0.4,1.1,46.6,RB,48.945,76.0,-38.725,,,,,,,,,,,\r\nKyle Juszczyk,SF,13.9,52.6,0.7,21.8,230.2,2.0,0.7,43.0,RB,48.529999999999994,77.0,-39.14000000000001,,,,,,,,,,,\r\nWayne Gallman,SF,52.9,235.2,2.4,9.2,71.7,0.4,1.0,45.8,RB,47.79,78.0,-39.88,,,,,,,,,,,\r\nTrayveon Williams,CIN,48.2,206.2,1.3,14.0,112.7,0.5,1.5,39.7,RB,43.19,79.0,-44.480000000000004,,,,,,,,,,,\r\nBrian Hill,TEN,57.0,285.5,1.2,7.6,55.7,0.2,0.7,41.6,RB,43.02,80.0,-44.65,,,,,,,,,,,\r\nJake Funk,LAR,44.4,184.8,2.1,9.4,75.4,0.3,0.2,39.9,RB,42.370000000000005,81.0,-45.3,,,,,,,,,,,\r\nJavian Hawkins,ATL,58.6,241.3,1.9,4.6,35.4,0.1,0.2,39.2,RB,40.42,82.0,-47.25,,,,,,,,,,,\r\nSamaje Perine,CIN,51.2,216.4,1.5,9.0,61.4,0.2,0.1,37.7,RB,40.03,83.0,-47.64,,,,,,,,,,,\r\nMike Boone,DEN,48.0,228.1,1.8,6.4,43.3,0.1,0.6,37.4,RB,38.94,84.0,-48.730000000000004,,,,,,,,,,,\r\nBenny Snell Jr.,PIT,59.9,222.1,1.8,6.4,43.4,0.1,0.6,36.7,RB,38.349999999999994,85.0,-49.32000000000001,,,,,,,,,,,\r\nPeyton Barber,WAS,59.1,209.4,2.2,5.0,33.0,0.1,0.6,36.9,RB,38.09,86.0,-49.58,,,,,,,,,,,\r\nMatt Breida,BUF,43.6,189.2,1.0,9.6,76.3,0.4,1.1,32.6,RB,35.15,87.0,-52.52,,,,,,,,,,,\r\nCarlos Hyde,JAC,52.6,213.6,1.4,6.3,36.6,0.1,0.6,32.5,RB,34.394999999999996,88.0,-53.275000000000006,,,,,,,,,,,\r\nBrandon Bolden,NE,19.4,98.7,2.3,4.9,48.9,0.6,0.0,32.2,RB,33.385,89.0,-54.285000000000004,,,,,,,,,,,\r\nJalen Richard,LV,23.7,103.6,0.5,16.3,129.0,0.4,0.6,27.7,RB,31.535,90.0,-56.135000000000005,,,,,,,,,,,\r\nLarry Rountree III,LAC,36.8,154.7,1.4,4.6,34.9,0.2,0.2,28.1,RB,29.31,91.0,-58.36,,,,,,,,,,,\r\nJermar Jefferson,DET,27.9,113.8,0.8,10.6,78.6,0.1,0.1,24.6,RB,27.090000000000003,92.0,-60.58,,,,,,,,,,,\r\nElijah Mitchell,SF,26.8,124.1,0.8,5.7,51.5,0.2,0.1,23.2,RB,24.785000000000004,93.0,-62.885,,,,,,,,,,,\r\nLa'Mical Perine,NYJ,32.4,136.7,1.0,4.3,31.4,0.2,0.2,23.1,RB,24.685000000000002,94.0,-62.985,,,,,,,,,,,\r\nJaylen Samuels,PIT,26.4,110.6,0.6,7.8,51.9,0.3,0.1,21.9,RB,23.400000000000002,95.0,-64.27,,,,,,,,,,,\r\nRaymond Calais,LAR,23.1,97.6,0.8,4.6,35.4,0.2,0.1,19.6,RB,20.250000000000004,96.0,-67.42,,,,,,,,,,,\r\nAnthony McFarland Jr.,PIT,30.2,115.8,0.5,5.7,45.1,0.1,0.6,18.7,RB,19.915000000000003,97.0,-67.755,,,,,,,,,,,\r\nJerick McKinnon,KC,21.5,95.1,0.4,6.7,48.2,0.2,0.1,18.1,RB,19.404999999999998,98.0,-68.265,,,,,,,,,,,\r\nIto Smith,ARI,20.1,84.5,0.7,5.7,39.2,0.2,0.2,17.7,RB,18.795,99.0,-68.875,,,,,,,,,,,\r\nChris Evans,CIN,24.4,96.9,0.4,4.4,32.8,0.2,0.1,16.2,RB,17.470000000000002,100.0,-70.2,,,,,,,,,,,\r\nJustice Hill,BAL,19.1,87.8,0.6,4.3,30.9,0.1,0.1,16.0,RB,16.944999999999997,101.0,-70.72500000000001,,,,,,,,,,,\r\nKylin Hill,GB,25.2,101.9,0.3,3.7,27.8,0.1,0.1,15.1,RB,16.095000000000002,102.0,-71.575,,,,,,,,,,,\r\nDemetric Felton,CLE,18.7,90.2,0.7,2.5,20.6,0.0,0.0,15.4,RB,15.905000000000001,103.0,-71.765,,,,,,,,,,,\r\nAmeer Abdullah,MIN,15.4,68.7,0.1,6.2,43.8,0.4,0.0,13.9,RB,15.8,104.0,-71.87,,,,,,,,,,,\r\nDontrell Hilliard,HOU,12.3,44.5,1.0,4.9,36.2,0.0,0.0,14.1,RB,15.295000000000002,105.0,-72.375,,,,,,,,,,,\r\nJeremy McNichols,TEN,19.4,87.4,0.3,3.6,22.8,0.0,0.0,13.0,RB,13.719999999999999,106.0,-73.95,,,,,,,,,,,\r\nTrey Edmunds,PIT,14.8,64.0,0.4,3.9,25.8,0.2,0.0,12.3,RB,13.555000000000001,107.0,-74.115,,,,,,,,,,,\r\nReggie Bonnafon,CAR,19.2,87.9,0.4,2.3,17.7,0.0,0.0,12.9,RB,13.535000000000002,108.0,-74.135,,,,,,,,,,,\r\nLamar Miller,WAS,14.9,61.5,0.8,2.4,18.9,0.0,0.0,13.0,RB,13.440000000000001,109.0,-74.23,,,,,,,,,,,\r\nTravis Homer,SEA,16.3,68.8,0.3,4.1,30.4,0.1,0.1,12.2,RB,13.145,110.0,-74.525,,,,,,,,,,,\r\nJordan Howard,PHI,14.9,64.4,1.0,0.4,4.6,0.0,0.0,12.9,RB,13.0,111.0,-74.67,,,,,,,,,,,\r\nJaMycal Hasty,SF,14.9,76.7,0.4,2.2,14.8,0.1,0.0,12.1,RB,12.700000000000001,112.0,-74.97,,,,,,,,,,,\r\nKerryon Johnson,PHI,19.3,74.2,0.4,2.3,18.1,0.1,0.2,11.5,RB,12.405000000000001,113.0,-75.265,,,,,,,,,,,\r\nGerrid Doaks,MIA,12.2,50.9,0.4,4.4,32.8,0.1,0.1,11.6,RB,12.270000000000001,114.0,-75.4,,,,,,,,,,,\r\nD'Ernest Johnson,CLE,18.2,77.9,0.4,2.3,16.9,0.0,0.1,11.5,RB,12.255,115.0,-75.415,,,,,,,,,,,\r\nKe'Shawn Vaughn,TB,15.0,63.7,0.5,2.3,16.5,0.1,0.0,11.6,RB,12.195,116.0,-75.475,,,,,,,,,,,\r\nPatrick Ricard,BAL,0.9,1.4,0.0,8.8,58.5,0.8,0.5,9.8,RB,11.990000000000002,117.0,-75.68,,,,,,,,,,,\r\nDevonta Freeman,NO,8.8,35.3,0.3,5.3,42.4,0.2,0.1,10.7,RB,11.895,118.0,-75.775,,,,,,,,,,,\r\nJordan Wilkins,IND,14.6,71.2,0.4,1.7,12.6,0.1,0.0,11.5,RB,11.805000000000001,119.0,-75.865,,,,,,,,,,,\r\nRoyce Freeman,DEN,14.3,59.9,0.4,3.2,20.0,0.1,0.0,10.8,RB,11.790000000000001,120.0,-75.88,,,,,,,,,,,\r\nAlec Ingold,LV,4.5,18.8,0.2,6.6,54.5,0.3,0.1,9.9,RB,11.780000000000001,121.0,-75.89,,,,,,,,,,,\r\nGary Brightwell,NYG,20.0,88.0,0.0,3.0,22.0,0.0,0.0,11.0,RB,11.75,122.0,-75.92,,,,,,,,,,,\r\nEno Benjamin,ARI,16.4,70.7,0.3,2.3,18.6,0.0,0.0,11.0,RB,11.305,123.0,-76.36500000000001,,,,,,,,,,,\r\nC.J. Ham,MIN,4.8,20.0,0.2,5.9,49.8,0.3,0.1,9.6,RB,11.255000000000003,124.0,-76.41499999999999,,,,,,,,,,,\r\nD'Onta Foreman,ATL,16.8,70.6,0.4,1.4,10.0,0.0,0.0,10.7,RB,10.81,125.0,-76.86,,,,,,,,,,,\r\nKene Nwangwu,MIN,16.3,65.8,0.2,2.4,17.8,0.0,0.0,9.5,RB,10.16,126.0,-77.51,,,,,,,,,,,\r\nTony Brooks-James,PIT,15.5,65.4,0.4,0.9,6.3,0.0,0.0,9.4,RB,9.795000000000002,127.0,-77.875,,,,,,,,,,,\r\nKhalil Herbert,CHI,9.7,40.4,0.3,2.8,22.0,0.1,0.1,8.3,RB,9.14,128.0,-78.53,,,,,,,,,,,\r\nAlex Armah,NO,4.2,17.4,0.2,4.2,34.7,0.2,0.1,7.3,RB,8.46,129.0,-79.21000000000001,,,,,,,,,,,\r\nAndrew Beck,DEN,4.9,21.3,0.2,4.1,28.1,0.2,0.0,7.0,RB,8.365000000000002,130.0,-79.305,,,,,,,,,,,\r\nTy Montgomery,NO,14.5,51.0,0.0,3.4,23.9,0.0,0.0,7.5,RB,8.34,131.0,-79.33,,,,,,,,,,,\r\nBuddy Howell,HOU,4.0,17.1,0.2,4.1,29.2,0.2,0.0,6.5,RB,8.055,132.0,-79.61500000000001,,,,,,,,,,,\r\nRico Dowdle,DAL,6.8,29.0,0.2,2.9,22.7,0.1,0.1,7.0,RB,7.495000000000001,133.0,-80.175,,,,,,,,,,,\r\nAlfred Morris,NYG,9.1,37.8,0.3,1.5,10.4,0.0,0.1,6.5,RB,6.795,134.0,-80.875,,,,,,,,,,,\r\nNick Bellore,SEA,1.5,6.7,0.0,4.4,31.4,0.3,0.0,5.8,RB,6.709999999999999,135.0,-80.96000000000001,,,,,,,,,,,\r\nKeith Smith,ATL,3.2,13.7,0.1,3.4,26.1,0.2,0.1,5.5,RB,6.430000000000001,136.0,-81.24,,,,,,,,,,,\r\nGabe Nabers,LAC,3.3,14.4,0.1,3.2,25.0,0.2,0.1,5.8,RB,6.340000000000001,137.0,-81.33,,,,,,,,,,,\r\nAndy Janovich,CLE,1.0,4.3,0.0,3.9,32.6,0.2,0.0,4.8,RB,5.865,138.0,-81.805,,,,,,,,,,,\r\nTrenton Cannon,CAR,4.1,17.0,0.1,2.5,19.2,0.1,0.0,4.7,RB,5.445,139.0,-82.225,,,,,,,,,,,\r\nKalen Ballage,PIT,7.0,27.6,0.2,1.8,11.7,0.0,0.1,5.3,RB,5.38,140.0,-82.29,,,,,,,,,,,\r\nAntonio Williams,BUF,9.0,37.4,0.2,0.3,2.8,0.0,0.0,5.0,RB,5.295000000000001,141.0,-82.375,,,,,,,,,,,\r\nDerek Watt,PIT,4.2,18.1,0.2,1.7,12.2,0.1,0.0,4.4,RB,5.255000000000001,142.0,-82.415,,,,,,,,,,,\r\nDarwin Thompson,KC,6.6,26.1,0.1,1.8,13.8,0.0,0.0,4.8,RB,5.040000000000001,143.5,-82.63,,,,,,,,,,,\r\nAlex Collins,SEA,4.8,20.3,0.2,1.4,10.6,0.1,0.1,4.4,RB,5.040000000000001,143.5,-82.63,,,,,,,,,,,\r\nBen Mason,BAL,0.0,0.0,0.0,3.4,27.7,0.2,0.0,4.1,RB,4.82,145.0,-82.85,,,,,,,,,,,\r\nJ.J. Taylor,NE,2.8,12.1,0.1,2.3,17.8,0.1,0.0,3.9,RB,4.765000000000001,146.0,-82.905,,,,,,,,,,,\r\nMichael Burton,KC,3.3,14.0,0.1,1.8,14.8,0.1,0.0,3.9,RB,4.530000000000001,147.0,-83.14,,,,,,,,,,,\r\nJosh Adams,NYJ,5.1,22.1,0.2,0.9,6.1,0.0,0.0,3.8,RB,4.245000000000001,148.0,-83.425,,,,,,,,,,,\r\nDexter Williams,GB,4.4,18.6,0.2,0.4,3.1,0.0,0.0,3.0,RB,3.4700000000000006,149.0,-84.2,,,,,,,,,,,\r\nCorey Clement,NYG,4.2,17.7,0.2,0.5,3.6,0.0,0.0,3.1,RB,3.455,150.0,-84.215,,,,,,,,,,,\r\nDevine Ozigbo,JAC,2.9,12.3,0.1,1.5,11.6,0.0,0.0,3.0,RB,3.365,151.0,-84.305,,,,,,,,,,,\r\nKhari Blasingame,TEN,0.5,2.1,0.0,2.3,19.4,0.1,0.0,2.7,RB,3.325,152.0,-84.345,,,,,,,,,,,\r\nDwayne Washington,NO,2.6,10.9,0.1,1.5,11.6,0.0,0.0,2.8,RB,3.225,153.0,-84.44500000000001,,,,,,,,,,,\r\nElijhaa Penny,NYG,2.5,10.3,0.1,1.5,10.9,0.0,0.0,2.8,RB,3.095,154.0,-84.575,,,,,,,,,,,\r\nJakob Johnson,NE,0.0,0.0,0.0,2.2,19.0,0.1,0.0,2.2,RB,3.05,155.0,-84.62,,,,,,,,,,,\r\nDare Ogunbowale,JAC,2.1,8.9,0.0,1.4,9.4,0.0,0.0,1.8,RB,2.18,156.0,-85.49,,,,,,,,,,,\r\nJonathan Williams,WAS,2.3,9.8,0.0,0.9,7.0,0.0,0.0,1.7,RB,1.9050000000000002,157.0,-85.765,,,,,,,,,,,\r\nPatrick Laird,MIA,1.5,6.4,0.0,0.9,5.5,0.0,0.0,1.2,RB,1.415,158.0,-86.255,,,,,,,,,,,\r\nTaiwan Jones,BUF,1.1,4.7,0.0,0.9,7.0,0.0,0.0,1.2,RB,1.395,159.0,-86.275,,,,,,,,,,,\r\nC.J. Prosise,TB,0.9,3.6,0.0,1.0,7.0,0.0,0.0,1.1,RB,1.31,160.0,-86.36,,,,,,,,,,,\r\nElijah McGuire,KC,0.9,3.5,0.0,0.9,7.2,0.0,0.0,1.1,RB,1.2950000000000002,161.0,-86.375,,,,,,,,,,,\r\nRyan Nall,CHI,0.9,3.9,0.0,0.9,6.3,0.0,0.0,1.0,RB,1.245,162.0,-86.425,,,,,,,,,,,\r\nArtavis Pierce,CHI,0.9,3.9,0.0,0.9,6.2,0.0,0.0,1.0,RB,1.235,163.0,-86.435,,,,,,,,,,,\r\nJason Huntley,PHI,0.9,3.9,0.0,0.9,6.1,0.0,0.0,1.0,RB,1.225,164.5,-86.44500000000001,,,,,,,,,,,\r\nAdrian Killins Jr.,PHI,0.9,3.9,0.0,0.9,6.1,0.0,0.0,1.0,RB,1.225,164.5,-86.44500000000001,,,,,,,,,,,\r\nAustin Walter,NYJ,0.9,3.6,0.0,0.9,6.3,0.0,0.0,1.0,RB,1.215,166.5,-86.455,,,,,,,,,,,\r\nLeVante Bellamy,DEN,1.0,4.4,0.0,0.9,5.5,0.0,0.0,1.0,RB,1.215,166.5,-86.455,,,,,,,,,,,\r\nJason Cabinda,DET,0.8,3.5,0.0,1.0,6.1,0.0,0.0,1.0,RB,1.21,168.0,-86.46000000000001,,,,,,,,,,,\r\nNathan Cottrell,JAC,0.9,3.6,0.0,0.9,6.2,0.0,0.0,1.0,RB,1.205,169.0,-86.465,,,,,,,,,,,\r\nDamarea Crockett,DEN,1.0,4.2,0.0,0.9,5.5,0.0,0.0,1.0,RB,1.195,170.0,-86.47500000000001,,,,,,,,,,,\r\nScottie Phillips,HOU,0.8,3.5,0.0,0.9,6.1,0.0,0.0,1.0,RB,1.185,171.0,-86.485,,,,,,,,,,,\r\nJordan Scarlett,MIA,0.9,3.9,0.0,0.9,5.3,0.0,0.0,0.9,RB,1.145,172.0,-86.525,,,,,,,,,,,\r\nTaquan Mizzell,NYG,0.9,3.7,0.0,0.9,5.4,0.0,0.0,0.9,RB,1.135,173.0,-86.535,,,,,,,,,,,\r\nCullen Gillaspia,NYG,0.9,3.7,0.0,0.9,5.2,0.0,0.0,0.9,RB,1.115,174.0,-86.555,,,,,,,,,,,\r\nTony Jones Jr.,NO,0.9,0.7,0.0,0.2,0.4,0.0,0.0,0.1,RB,0.16,175.0,-87.51,,,,,,,,,,,\r\nTyreek Hill,KC,12.9,82.4,0.8,100.2,1436.1,12.3,0.7,229.2,WR,,,137.01500000000004,254.10000000000002,1.0,,,,,,,,,\r\nDavante Adams,GB,0.0,0.0,0.0,122.5,1462.5,12.8,0.8,221.3,WR,,,134.99,252.07500000000002,2.0,,,,,,,,,\r\nStefon Diggs,BUF,2.4,15.6,0.1,113.6,1476.5,9.2,1.2,202.6,WR,,,113.925,231.01,3.0,,,,,,,,,\r\nCalvin Ridley,ATL,4.6,26.1,0.1,99.8,1422.2,8.8,0.8,196.7,WR,,,104.49500000000002,221.58,4.0,,,,,,,,,\r\nDeAndre Hopkins,ARI,0.9,4.4,0.0,122.1,1468.3,7.7,1.5,190.3,WR,,,103.91000000000004,220.99500000000003,5.0,,,,,,,,,\r\nD.K. Metcalf,SEA,0.3,1.3,0.0,86.6,1300.6,10.0,1.4,187.1,WR,,,91.955,209.04,6.0,,,,,,,,,\r\nJustin Jefferson,MIN,0.4,1.5,0.0,93.5,1391.6,7.9,0.8,185.2,WR,,,91.40000000000002,208.485,7.0,,,,,,,,,\r\nA.J. Brown,TEN,0.5,7.5,0.0,84.5,1268.3,9.8,0.9,184.4,WR,,,88.61999999999999,205.70499999999998,8.0,,,,,,,,,\r\nKeenan Allen,LAC,3.0,16.3,0.1,111.3,1209.3,7.9,1.0,168.5,WR,,,79.3,196.385,9.0,,,,,,,,,\r\nMike Evans,TB,0.0,0.0,0.0,76.1,1114.0,9.4,0.7,166.5,WR,,,68.34000000000002,185.425,12.0,,,,,,,,,\r\nAllen Robinson II,CHI,0.3,0.3,0.0,98.6,1227.6,7.0,0.7,163.2,WR,,,70.955,188.04,10.0,,,,,,,,,\r\nTerry McLaurin,WAS,1.8,12.1,0.1,91.6,1235.2,6.5,0.7,162.8,WR,,,68.74500000000002,185.83,11.0,,,,,,,,,\r\nAmari Cooper,DAL,2.6,11.7,0.0,90.4,1195.9,7.2,0.7,162.7,WR,,,68.075,185.16,13.0,,,,,,,,,\r\nRobert Woods,LAR,17.0,106.2,0.9,98.0,1088.2,6.0,0.8,159.2,WR,,,66.65500000000002,183.74,14.0,,,,,,,,,\r\nAdam Thielen,MIN,3.2,14.6,0.3,79.5,1020.9,9.2,0.7,158.8,WR,,,61.94000000000001,179.025,15.0,,,,,,,,,\r\nCeeDee Lamb,DAL,8.4,61.2,0.6,83.9,1090.4,6.6,0.8,156.8,WR,,,60.65000000000002,177.735,16.0,,,,,,,,,\r\nTyler Lockett,SEA,1.1,2.7,0.0,92.4,1051.2,8.3,0.7,153.9,WR,,,59.80500000000002,176.89000000000001,17.0,,,,,,,,,\r\nJulio Jones,TEN,0.5,-0.5,0.0,78.7,1115.1,7.3,0.7,153.9,WR,,,56.45,173.535,20.0,,,,,,,,,\r\nD.J. Moore,CAR,3.1,20.1,0.1,83.2,1198.8,5.4,0.8,153.4,WR,,,57.00500000000001,174.09,19.0,,,,,,,,,\r\nCooper Kupp,LAR,3.9,23.6,0.1,93.0,1068.4,7.1,0.7,151.1,WR,,,57.165000000000006,174.25,18.0,,,,,,,,,\r

In [93]:
Test.to_csv(r'/Users/gordo/Desktop/FantasyPros_Fantasy_Football_Projections_Cleaned.csv', index = False)

In [ ]:
###DOCUMENTATION

##Cleaning up the data ("df"=RB,WR,TE,orQB)

#Reading in the data
df = pd.read_csv("/Users/gordo/Desktop/FantasyPros_Fantasy_Football_Projections_df.csv")

#Cleaning up NaNs
print(df)
df = df.drop(labels=[], axis=0)

#Adding position
df['Pos'] = 'df'

#Cleaning out commas
df = df.replace(',','',regex=True)

#Checking the data types of the dataframe
df.dtypes

#Changing rows to float
df = df.astype({"YDS": float})

#Column names
Rushing = R 
Receiving/Catches = C 
Passing = P 
TrueFPTs = calculated points based on rules

#Standardize Column Names
df.columns
df = df.rename(columns={
    "YDS.1": "RYDS", 
    "TDS": "PTDS", 
    "TDS.1": "RTDS", 
    "ATT.1":"RATT", 
    "ATT":"PATT"})


##Projected Points

#Calculating NFFFLLLC Projected Points (WR&RB&TE)
dfRealFPTs= (
    df['CYDS']*0.1 +
    df['CTDS']*6 +
    df['REC']*0.25   +
    df['RYDS']*0.1 +
    df['RTDS']*6 -
    df['FL']*2 )
print(dfRealFPTs)

#Calculating NFFFLLLC Projected Points (QB)
QBRealFPTs= (
    QB['PYDS']*0.04 +
    QB['PTDS']*4 +
    QB['REC']*0.25   +
    QB['RYDS']*0.1 +
    QB['RTDS']*6 -
    QB['FL']*2 -
    QB['INTS']*2)

#Adding NFFFLLLC Projected Points to dataframe
df['TrueFPTs']= dfRealFPTs

#Assign positional ranks by TrueFPTs & Add to dataframe
dfRank = df['dfTrueFPTs'].rank(ascending = False)
df['dfRank'] = dfRank

#Find Replacement Player within dataframes
# Ranks: QB= 11. RB = 50, WR = 53, TE = 8
# Replacement Player TrueFPTs Value: QB= 303.658. RB = 87.67, WR = 117.085, TE = 114.485
df.loc[df['dfRank'] == Rank]

#Calculate VORP for each position  & add VORP to each dataframe
dfVORP = df['dfTrueFPTs'] - df Replacement Player TrueFPTs Value
df['VORP'] = dfVORP

#Put all positions together into one dataframe
Test = pd.concat([RB, WR, QB, TE], ignore_index=True, sort=False)

#Export data to my desktop
Test.to_csv(r'/Users/gordo/Desktop/FantasyPros_Fantasy_Football_Projections_Cleaned.csv', index = False)